/*Android issues*/
li, a, span, button, div, .btn{
    outline:none !important;
    -moz-tap-highlight-color: transparent !important;
    -moz-user-select: none !important;
    -moz-user-focus:ignore !important;

    -webkit-tap-highlight-color: transparent !important;
    -webkit-user-select: none !important;
    -webkit-user-focus:ignore !important;

    tap-highlight-color: transparent !important;
    user-select: none !important;
    user-focus: ignore !important;

	}
body.cordova {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	//-webkit-transform: translateZ(0);
	}

body.cordova article.card {
	-webkit-overflow-scrolling: touch; 
	//-webkit-transform: translate3d(0, 0, 0); 
	}

//Colores
$navigation_bar_bgcolor:#25313e; 
$navigation_bar_fgcolor:#9db1c5;
$navigation_bar_fgcolor_hover:#fff;

$navigation_drawer_bgcolor:#41586e;
// $navigation_drawer_bgcolor:#9db1c5;


* > i{margin-right:2px;}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #717171;
	background-color: transparent;
	}

body > .vbox{
	overflow:hidden
}
body.login{
	background:$navigation_bar_bgcolor;

	> section{
		color: white;
		left: 0;
		width: 100%;
		max-width: 400px;
		margin: 15% auto;


		div.screens{
			// margin-top:30%;
			height:250px; width:250px; left:0; margin-bottom:5px;
			margin:0 auto;
			border-radius:500px; box-shadow:inset 0 0 100px rgba(0,0,0,.5);


			background-image:url(../images/ico250.png);
			background-position: center center;
			background-repeat: no-repeat;
		}

		.btn {
			width:220px; 
			margin:0 auto; 
			display:inherit;
			padding: 10px 12px;
			font-size: 18px;
		}
		.throbber{
			background:url("../images/throbber-white.gif") no-repeat center center;
			display: block;
			height:40px;
			background-size:30px;
		}
		p.status{
			margin: 15px;
			font-size: 16px;
			text-align: center;

			&.sinRegistroPrevio{
				margin-top:50px;
				margin-left:15%; margin-right:15%;
				font-size: 12px;
				border-top:1px dashed rgba(232, 232, 232, .7);
				color:rgba(232, 232, 232, .7);
				padding-top:5px;
			}
		}

	} 
} 
body.login.no-connection  {
	div.screens{
		background-image:url(../images/no-connection.png);
		box-shadow:none;
	}
	.btn-mobile, .btn-web {display:none !important;}
	.btn-no-connection{display:block !important;}
}

.ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
header#navigation_bar{
	border-radius:0; border:0; margin-bottom:0;

	background-color:$navigation_bar_bgcolor; 
	color:$navigation_bar_fgcolor;


	.barra { 
		.btn-menu{
			width:50px;

			ul{margin-top:40px;}
			}

		.navbar-header{
			height:50px;

			> ul > li > a {
				color:inherit;
				:hover{color:$navigation_bar_fgcolor_hover;}
			}
		}
		
	}
	.navbar-header .btn {
		position: absolute;
		font-size: 1.3em;
		padding: 9px 16px;
		line-height: 30px;
		left: 0;
		color:inherit;
		}
	a.navbar-brand{
		line-height: 50px;
		display: inline-block;
		padding: 0 15px;
		
		float: none; 
		text-align: center;

		font-size: 20px; color:inherit; font-weight: 200;
		
		img{
			max-height: 30px;
			margin-top: -4px;
			vertical-align: middle;
			display: inherit;
		}
		+ .btn {
			right: 0;
			top: 0;
			left: auto;
		}
	}
	.barra.vista a.navbar-brand{
			max-width: 80%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	.nav > li > a:hover, .nav > li > a:focus ,
	.nav > li.open > a {
		color:#9db1c5;
		background-color: $navigation_bar_bgcolor;
		}
}
section#main_container{
	top: 50px;


	aside{
		background-color:#41586e;
		color:#9db1c5;

		.header, .footer {
			min-height: 50px;
			padding: 0 15px;
		}

		.header{
			background-color: #89cc97;
		}
		nav.nav-primary{
			border-bottom: 1px solid rgba(255,255,255,0.05);

			li {
				line-height: 1.5;
				position: relative;
				display: block;

				a {
					padding: 11px 15px;
					position: relative;
					font-weight: bold;
					font-size: 14px;
					border-top: 1px solid transparent;
					border-color: rgba(255,255,255,0.05);
					transition: color .3s ease-in-out 0s;

					color:#adbece;

					&:hover{
						background-color:rgba(0,0,0,0.05);
						
						i b{
							width:100%;
						}
					}

					i {
						margin: -12px -15px;
						line-height: 44px;
						width: 44px;
						float: left;
						margin-right: 10px;
						font-size: 14px;
						border-right: 1px solid rgba(255,255,255,0.05);
						text-align: center;
						position: relative;
						overflow: hidden;

						color:#fff;

						&:before{
							position: relative;
							z-index: 2;
						}

						b{
							position: absolute;
							left: 0;
							//width: 100%;
							width:1px;
							top: 0;
							bottom: 0;
							z-index: 0;
							transition: left .25s;
						}
					}
				}

				&.active a{
					background-color:rgba(0,0,0,0.05);
					color:white;

					i b{
							width:100%;
						}
				}
			}
			

			b.bg{

			}

			li.continuarTest b.bg{
				background-color:#fb6b5b; //tomato
			}

		}
	}

	
}
///////////

.fa-8x, .fa-stack-8x{font-size: 8em;}
.fa-7x, .fa-stack-7x{font-size: 7em;}
.fa-6x, .fa-stack-6x{font-size: 6em;}
.fa-5x, .fa-stack-5x{font-size: 5em;}
.fa-4x, .fa-stack-4x{font-size: 4em;}
.fa-3x, .fa-stack-3x{font-size: 3em;}

.fa-stack-1x, .fa-stack-2x,
.fa-stack-3x, .fa-stack-4x,
.fa-stack-5x, .fa-stack-6x,
.fa-stack-7x, .fa-stack-8x{
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	}
.text-success {color: #8ec165;}
.text-danger{color:#fb6b5b;}
.text-info {color: #4cc0c1;}
.text-white{color:white;}
///////////
.progress-sm {
	height: 7px;
	}
///////////

.arrow {
	border-width: 8px;
	z-index: 10;

	&, &:after{
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
	}
	&.top {
		left: 50%;
		margin-left: -8px;
		border-top-width: 0;
		border-bottom-color: #eee;
		border-bottom-color: rgba(0,0,0,0.1);
		top: -8px;

		&:after {
			content: " ";
			top: 1px;
			margin-left: -7px;
			border-top-width: 0;
			border-bottom-color: #fff;
		}
	}

	
	&:after {
		border-width: 7px;
		content: "";
		}
}
.dropdown-menu {
	min-width:330px
}
.dropdown-menu > li > a{
	white-space:normal;
	padding-top:12px; padding-bottom:12px;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
	cursor:pointer;
	background-image: none;
	filter: none;
	background-color: #f1f1f1 !important;
	color: #717171;
	
}

.avatar, footer .avatar{
	color: rgb(157, 177, 197)!important;

	.img{
		border: 1px solid rgba(255,255,255,0.35);
		display: block;
		border-radius: 500px;
		white-space: nowrap;
		}
	.pic {
		width: 30px;
		margin-top: 0px;
		margin-right: 5px;
	}
	.nav & .pic{ 
		margin-top: -5px;
		}

	img {
		border-radius: 500px;
	}
}
.thumb-xs{
	width: 18px;
	display: inline-block;
}
.m-r-sm {
	margin-right: 10px;
}
.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	}
///////////
h1, h2, h3, h4, h4, small{
	-webkit-font-smoothing:antialiased;
}
///////////
.m-n {
	margin: 0 !important;
	}
.m-b-none{margin-bottom:0;}
.m-r-sm {
	margin-right: 10px;
	}
.b-r {border-right: 1px solid #cfcfcf;}
.b-l {border-left: 1px solid #cfcfcf;}
///////////
.bg-primary {
	background-color: #65bd77;
	color: #e2f3e5;
	}
.bg-danger {
	background-color: #fb6b5b;
	color: #ffffff;
	}
.bg-warning {
	background-color: #ffc333;
	color: #fff8e6;
	}
.bg-success {
	background-color: #8ec165;
	color: #ebf4e4;
	}
.bg-info {
	background-color: #4cc0c1;
	color: #d1efef;
	}
//////////
.btn-warning{
	border-color:#f0ad4e;
}
//////////
.btn-primary, .btn-primary:hover, .btn-primary.active, 
.btn-primary:focus, .btn-primary:active,
.open .dropdown-toggle.btn-primary{
	color: #fff !important;
	background-color: #65bd77;
	border-color: #65bd77;
	}
.btn-dark {
	color: #fff !important;
	background-color: $navigation_bar_bgcolor!important;
	border-color: $navigation_bar_bgcolor;
	}

.btn-success{
	color: #fff !important;
	background-color: #8ec165;
	border-color: #8ec165;
	}
.btn-success-t{
	color:#8ec165;
	border-color:#8ec165;
	background-color:transparent;
}
.btn.btn-dark.transparent{
	background-color:transparent!important;
	color:$navigation_bar_bgcolor !important;
	}
.btn:active, .btn.active{
	background:rgba(0,0,0,.1)!important;
	box-shadow:0 0 0;
	border-color:rgba(0,0,0,.1)!important;
	}

.btn-rounded{
	border-radius:50px;
}
.btn-icon.btn-sm{
	
	padding-bottom: 5px;
	padding-top: 6px;
	padding-left: 4px;
	padding-right: 2px;
	width: 30px;
	text-align: center;
	
	
	}

.btn-info-t{
	color:#46b8da;
	border-color:#46b8da;
	background-color:transparent;
}

.btn-default{color:#717171 !important}
///////////

.noselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none; -webkit-user-focus:none;

	-moz-user-select: none; -moz-user-focus:none;

	user-select: none; user-focus:none;
}

.resultados{

	> *{
		border-left:1px solid rgba(0, 0, 0, 0.05);
		padding-left: 0; padding-right:0;
		text-align: center; 
		
		&:first-child{border-left:none!important;}
	}
	.small {
		display:block;
		font-size: 12px;
		text-transform: uppercase;
	}
	.bold{
		font-weight: bold;
	}
}

#content{
	
	width: 100%;
	min-height: 80%;

	&.vista{
		background-color:rgba(50, 50, 50, 0.1);

		.btn{
		}
		.bl{display:block;}

		.vista-header{
			height:50px;
			background-color:rgba(50,50,50,0.1);
			
			> .btn-group{
				width: 100%;
			}
			.btn{
				border-radius:0;
				padding-top: 15px;
				padding-bottom: 13px;
			}
		}
		.vista-body{
			min-height:50px;
			
			&.flowable{
				overflow-y:auto;
			}
			

			&.cargando{
				background:url("../images/throbber.gif") no-repeat center center;
				background-size:50px;
			}

			section.bloque{
				margin-left:5px; margin-right:5px;
				padding-top:10px
			}
			article.card, article.pack{
				display:inline-block;
				min-height:80px; width:49%;
				margin-top:5px; 

				border-radius:3px; 
				border:1px solid #E0DADA;

				box-shadow: 0 1px 2px #aaa;
				//box-shadow: 0 0 0;
				
				overflow:hidden;
				background: white;
				cursor: pointer;
				div.body{
					height:60px;
				}
				footer{
					padding-left:2px; 
					padding-right:2px;
					height:61px; 

					border-top: 1px solid #f0f0f0;
					background-color:rgba(50, 50, 50, 0.1);
				}
			}
			article.pack{
				background-color: rgba(46, 62, 78, .8);
				color: #9db1c5!important;
				border-radius:500px;

				i {
					margin-top:15px;
					font-size: 90px !important;
					color:inherit!important;
				}
				footer{
					border-top: rgba(46, 62, 78, .2);
					background-color: rgba(46, 62, 78, .3);

					.frow{
						color:inherit;
						span.nombre{
							text-align: center;
							max-width: 70%;
							margin-left: 15%;
							height:20px!important;
							white-space: nowrap;
						}
						small{
							text-align: center;
							display: block;
						}
					}
				}
			}

		}

		.admonition{
			margin-top:20%;
			margin-left: 5%; margin-right:5%;

			> i {
				display:block;
				text-align: center;
			}
			> div {
				display:block; text-align:center;
				
				.tit{
					display: block;
    				font-size: 120%;
    				text-align: center;
				}
				.des, .sub{
					margin-top:10px;
					display: block;
				    // margin-left: 25px;
				    // margin-right: 25px;
				    text-align: left;
				    font-size: 17px;
				}
			}
		}

		.fila{
			width: 100%;
			text-align: left;
			background: transparent;
			border: 0; color:white;
			padding-top:5px; padding-bottom:15px;
		}

		.config{
			.row{

				padding-bottom:5px; margin-left:0; margin-right:0;
				font-size: 16px; text-align:left; padding-bottom:10px;
				> *{
					padding-left:0; padding-right:0;
				}
			}
			i {
				margin-top: 0px;
				font-size: 25px;
				margin-right: 14px;
				color:inherit;
			}
			small.bl{
				padding-bottom: 0px;
				text-transform: uppercase;
				border-top: 1px solid rgba(173, 190, 206, .3);
			}
		}

	}

	&.vista.vistaTest{
		.vista-header{
			.btn{
				.fa-pause{
					float: right;
					margin-top: 2px;
					right: 15px;
					position: absolute;
				}


			}
			ul#mapatest{
				max-width: 400px;
				max-height: 350px;
				overflow-y: auto;
				span.arrow{
					&:after{border-bottom-color:#65bd77;}
				}
				table{
					margin-top:10px;
					margin-bottom: 10px;
					color:#ebf4e4;
					//background-color:rgba(0,0,0,0.05);
					
					text-align: center;
					//border-bottom:1px solid rgba(0,0,0,0.05);

					td{ 
						height:40px;
						cursor: pointer;
						//border-top:1px solid rgba(0,0,0,0.05);
					
						&.contestada{
							background-color:#89cc97;
						}
						&.active span{
							background-color:rgb(235, 244, 228);
							
							color:#65bd77;


							display: inline-block;
							border-radius: 30px;
							width: 30px;
							height: 30px;
							line-height: 32px;
							margin-top: -2px;
						}

						.stack-text{
							margin-top:-.1rem;
							color:#65bd77;
						}
					}
				}
			}
		}
		table{
			table-layout: fixed;
			width: 100%;

			td.clave{
				width:50px; height:50px;
				text-align: center;
				font-size: 26px; font-weight:400;
			}
			td.valor{
				padding-left:4px; 
				color:inherit !important;
				font-weight: inherit;
				font-size: 16px;
				line-height:21px;
			} 
		}
		.recurso.resp{
			width: 125px;
			background-repeat: no-repeat;
			background-position: center center;
			margin-top: 20px;
			}
		.recurso.pre{
			width: 100%;
			margin-top:20px; margin-bottom:20px;
			text-align: center;

			.aviso{
				text-align: left;
				color: whitesmoke;
				opacity: .5;
				font-size: 12px;
			}
			img{
				max-width:100%;
				//margin-left:-25px;
				box-shadow:1px 2px 13px darkslategrey;
			}
		}
		.pregunta{
			position: absolute;
			width: 100%;
			height: 50%; overflow:auto;

			font-size:20px; line-height:21px; 
			
			background: #89cc97;
			color: white;//color:rgb(113, 113, 113);
			//border-bottom:1px solid $navigation_bar_bgcolor;
			table {
				margin-top:15px; 
				td.clave{
					vertical-align:top;
				}
				td.valor{
					vertical-align:top;
					padding-right:5px;
					font-weight: 400;
				}
			}
		}
		footer.respuestas{
			position: absolute;
			width: 100%; bottom: 0;
			height: 50%; overflow:auto;

			border-top:1px solid 1px solid $navigation_bar_bgcolor;
			background-color:rgb(236, 236, 236);

			table{
				border-bottom:1px solid rgba(0, 0, 0, 0.05);
				
				tr{
					cursor: pointer;
					&.active{
						background-color:rgba(0,0,0,0.05);
					}
					&.atenuada{
						opacity: .6;
					}
					td{
						border-top:1px solid rgba(0,0,0,0.05);
					}
				}
			}
			
		
		}

	}
	&.vista.vistaTienda{
		
		.vista-header {
			background-color:#f0ad4e;
			color:white;
			button{
				background:transparent;

				i {
					float: left;
				    font-size: 250%;
				    line-height: 13px;
				    margin-top: 4px;
				    opacity: 0.3;
				}
			}

		}
		.vista-body{
			padding-bottom:10px;
			
			
			.bloque{
				margin-left:5px; margin-right:5px;
				
				.titulo{	
					cursor: pointer;		
				}
				.cargarMas{
					display: block;
					width:100%;
					background-color:transparent;
					border: none;

					&.aunMas{
						padding-top:10px;
						padding-bottom: 10px;
					}

					& span{
						float: right;
						padding:3px 9px;
						font-size: 16px;

						text-transform: uppercase;
						border-radius:0;
						}
				}

				.titulo .cargarMas{
					margin-right: 2px;
					float: right;
					margin-top: -8px;
					width:60px;
				}

				.card{
					min-height: 120px;
					color:#979797;
					.body{
						min-height:80px;

						text-align: center;


						i {
							opacity: .1;
							font-size: 160px;
							color:darkslategray;
						}
					}

					.fecha{
						//position: absolute; 
						margin-top:-102px;
						background-color:rgba(50, 50, 50, 0.1);
						text-transform: uppercase;
						font-size: 10px;
						> *{
							text-align:center;
						}
					}
					footer{
						.frow{
							width:100%;
							display: block;

							span.nombre{
								white-space: normal;
								height:40px;
							}
							> *{
								padding-left:0px; padding-right:0px;

							}
						}

						span.love{
							color:#aaa;
							padding-left:1px;
						}
						span.precio, span.loTengo{
							color:#f0ad4e; 
							// color:#fb6b5b;
							text-align:right;
						}
						span.notaTest{
							text-transform: uppercase;
							color: rgb(113, 113, 113);
							text-indent: inherit;
							font-weight: 500;
							font-size: 12px;
							line-height: 19px;
						}
					}

					
				}

				&#cat-1 .body{
					// background:url(../images/cat-1.png) no-repeat center center;
					// background-size:cover;
				}//enfermeria
			}
	
		}
		.detalle-test{
			background-color:rgb(247, 247, 247);
			padding:20px 10px;
			color:#979797;

			section.row{
				margin-left:0px; margin-right:0;
				padding-top:10px;
				padding-bottom:10px;

				background: #fefefe;
				border: 1px solid #e8e8e8;
				border-bottom-width:0px;
				border-radius: 2px;
				box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
				//box-shadow: 0 0 0;

				.visual{
					padding-left:0px;
					//min-height: 150px;
					margin-left: 0;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center center;
					text-align: center;
				}
				&:last-child{border-bottom-width:1px;}
			
				&.botonera{
					padding-left:.3rem; padding-right:1rem;
					padding-bottom:1rem;
					border-top-style:dashed;
				}
				
				.data{
					padding-right:5px;
					padding-left:0px;

					span.bl, .btn-group{
						display: block;
					}

					h1, h2{
						margin-top:10px;
						font-family: 'Open sans', 'Helvetica Neue';
						color: rgb(113,113,113);
						margin-bottom: 0px !important;
						}
					h1{
						font-weight: 500;
						font-size: 18px;
					}
					h2{
						font-weight: 400;
						font-size: 16px;
					}

					small, .small{
						display: block;
						font-size: 12px; text-transform:uppercase;
					}
					bold, .bold{font-weight:bold;}
					
					.resultados{
						margin-top:10px;
					}

					.progress{
						margin-top:5px;
						margin-bottom: 10px;
						.progress-bar{
							background-color:#717171;
						}
					}
					.bl{
						margin-bottom:10px;
					}

					.grupo{
						margin-top:20px;
					}
				}

				.btn.btnDescargar{
					&.cargando{
						background-image: url(../images/throbber-white.gif);
						background-position: 5px center;
						background-repeat: no-repeat;
						background-size: 16px;
						padding-left: 25px;
					}
				}

				&.resultadoUltimoExamen{
					margin-top:10px;
				}
			}
			hr{
				border-color:silver; width:90%;
				padding-top:5px; padding-bottom:5px;
				margin-top:10px; margin-bottom:0
			}
			
			.loTengo {
				margin-top:1rem;

				i {
					color:#f0ad4e
				}
			}

			.btn-sm{
				text-transform:uppercase;

			}
			.cats{
				font-size:12px;
				text-transform: uppercase;
				border-width: 1px 0;
				border-style: solid;
				border-color: rgba(192, 192, 192, .4);
				padding: 3px 0;
				font-weight: normal;
			}
			.preguntas{
				text-transform: uppercase;
				font-size: 12px;
				font-weight: normal;
			}
			.btnLove{margin-right:5px; margin-left:5px;}
			.btnAbrir, .btnLove, .loTengo, .btnDesinstalar{display:none !important;}
			.btnDescargar{display:inline-block;}

			&.tengo-este-test {
				.btnAbrir, .btnLove,.btnDesinstalar{display:inline-block!important;}
				.loTengo{display:block!important;}
				.btnDescargar{display:none;}
			}

			span.precio, span.loTengo{
				font-size: 13px;
				margin-top: 20px; margin-bottom:0!important;
				text-align:right;
			}
		}
	}

	&.vista.vistaMigraTest{
		button.btn{ width:100%;}
		span.msgError{
			margin-top: 10px;
			display: block;
			font-size: 14px;
			white-space: normal;
		}

		.vista-body{
			padding:1rem;
			padding-top:3rem;

			text-align: center;
			.btn{margin-top:1rem}


		}
		ul{
			max-height:600px; overflow:auto;
			}
	}

	&.vista.vistaSocial{
		background-color:$navigation_bar_bgcolor;


		&.no-header{
			.vista-header{display:none}
			.vista-body{padding-bottom:50px;}
		}
		.avatar{
			border: 1px solid rgba(255,255,255,0.35);
			margin-top:0!important;
			display: block;
			border-radius: 500px;
			white-space: nowrap;

			display: block;
			
			position: relative;

			border:1px solid rgba(255,255,255,0.35);

			img {
				width:148px; 
				height:148px;
			}
			&:before {
				content: "";
				position: absolute;
				left: 5px;
				right: 5px;
				bottom: 5px;
				top: 5px;
				border: 4px solid #fff;
				border-radius: 500px;
			}
		}
		
		
		.vista-header{

		}
		.bl{
			padding-top: 10px; margin-left:0px; margin-right:0;

			color:#adbece;
			padding-bottom:20px;

			&.head{
				
				.avatar{
					width: 160px !important;
					float: none !important;
					margin: 20px auto;
					padding: 5px;
				}
			}
			&.grupos{
				
			}
		}

		.resultados{ 
			height:40px;

			div {
				border-color:rgba(255, 255, 255,.1);
				min-height: 35px;
			}

			}
		
		.grupo{
			border-top:1px solid rgba(173, 190, 206, .1);
			min-height: 85px;
			padding-bottom:10px;

			&.cargando{
				background:url("../images/throbber-white.gif") no-repeat center center;
				background-size:50px;
			}
			> .avatar{
				border:0;
				padding-left:10px; 
				padding-right:10px; 
			}
			h5 {
				margin-top:5px; margin-bottom:0;
				margin-left: 0; padding-left:0;
				font-weight: bold; font-size:13px;
			}
			span.grupo-personas{
				margin-left: 0; padding-left:0;

				.persona{
					font-size: 12px;
					float:left;
					padding-left:0; padding-right:1px; padding-top:3px;
					
					.avatar{
						width:30px !important; height:30px !important; 	
					}
					
					.nombre{font-size:12px; float:left; margin-top:5px;margin-left:3px}

					&.sep{
						margin-top: 5px;
						margin-left: 3px;
						margin-right: 2px;
					}
				}
				
			}
			i{
				font-size: 26px;
				padding-right: 0px;
				margin-right: 0;
				padding-left: 40px;
				}
			&:last-child{
				border-bottom:1px solid rgba(173, 190, 206, .1);
			}

			&.msg-no-leido{
				background-color: rgba(173, 190, 206, .5);
				color:rgb(37, 49, 62);

				span.badge{display:block;}
			}

			span.badge{
				display:none;
				float: right;
				background: #f0ad4e;
				margin-right: 10px;
			}
		}

		.vista-detalle-grupo{
			background-color:rgb(157, 177, 197);;
			color:$navigation_bar_bgcolor;
		}

		.config{
			.bl{
				padding-top: 10px; margin-left:0px; margin-right:0;

				color:#adbece;
				//padding-bottom:20px;
			}
			.txtNombreGrupo{
				font-size: 21px;
				color: white;
			}
			i{
				background-color:transparent;
				border:0;
				color:white; 
				
				&.btnNombreGrupo{
					margin-top:-40px;
					font-size:25px;
				}
			}

			&.btnMemberAdd{
				color:#adbece;
			}

			&.member.admin:after {
				content: "(Admin)";
				float: right;
				color: rgba(173, 190, 206, 0.6);
			}

		.btnDeleteGroup{
			width: 90%;
			margin-top: 3rem;
			background: transparent;
			border-color: white;
			color: white;
			margin-left: 5%;
		}

		i.btnNombreGrupo, button.member i, .btnMemberAdd, .btnDeleteGroup {display:none;}
			&.admin{
				i.btnNombreGrupo, button.member i, .btnMemberAdd, .btnDeleteGroup {
					display: block;
				}
			}
		}
		.chat{
			overflow:auto;
			position: relative;
			left: 0; top:0; min-height: 100px; width: 100%;
			background-color:white;
			.bocadillo{
				margin-bottom:-1px;
				padding: 15px 0px;

				background-color: #fff;
				border: 1px solid #ddd;

				font-size: 13px;
				.nombre{font-weight:bold; margin-right:5px; }
				
				&.has-test .row.texto, 
				&.has-badge .row.texto{
					padding-bottom: 20px!important;
				}

				&:nth-child(2n){
					background-color:rgb(248,248,248)!important;
				}

				img{margin-left:15px;}
				
				.row.texto{
					margin-right:0;
					margin-left: 0; padding-left:43px; padding-right:40px;
					padding-bottom:0; padding-right:15px;	
				}
				small{
					margin-right:5px;
					margin-top:2px;}
				.row.has-badge, .row.has-test{
					margin-left:0; 
					margin-right:0;
					margin-top: -15px;

					padding-top:3px; 
					padding-left: 15px; padding-right: 15px; 
					
					text-align:right;
					width:50%; 
					font-size: 16px; color:gray;
					border-top:1px solid rgb(237,227,177);

					i{
						margin-top:2px;
						font-size:120%;
					}
				}
				
				&.vacio{
					text-align: center;
				}
			}	
		}
		footer{
			height:50px;
			background-color:$navigation_bar_bgcolor;
			color:rgb(157, 177, 197);

			span.input-group-addon{
				background: none;
				color: white;
				border: 0;
				padding-left:15px; padding-right:15px;
			}
			input{
				border: 1px solid transparent;
				border-radius: 0;
				border-top: 1px solid;
				font-size: 16px;
				height:40px;
			}
		}
	}

	&.vista.vistaEstadisticas{
		background-color:rgb(247,247,247);
		.row {
			margin-left:0; margin-right:0; 
			padding-left:10px; padding-right:10px;
		}
		.panelCat{
			min-height: 300px;
		}

		.panel {
			margin-top:10px;
			background-color: #fff;
			border-radius:2px;
			border:1px solid #e8e8e8;
			box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

			.panel-heading{
				background-color:#f5f5f5;
				color:rgb(113, 113, 113);
			}
			.panel-body{
				padding:15px!important;

			}
		}
		.gra.gra1{height:240px;}

	}

	&.vista.vistaAjustes{
		background-color:$navigation_bar_bgcolor;
		color:#adbece;

		.bl{
			padding-top: 10px; margin-left:0px; margin-right:0;
			color:#adbece;
			//padding-bottom:20px;

			span{
				font-size: 19px;
				color: white;
			}	
		}
		.espacio{
			width: 100%;
			display: block;
		}
		.valor{
			font-size: 19px;
			color: white;
		}
		.row.sin-titulo{margin-top:10px;}
		.row i{margin-top:6px; font-size:19px;;}
	}
	&.vista.cargando{
		min-height: 100%;
		position: absolute;
		background:$navigation_bar_bgcolor url("../images/throbber-white.gif") no-repeat center center;
		background-size:50px;
	}
	
}

#flotTip {
	padding: 3px 5px;
	background-color: #000;
	z-index: 100;
	color: #fff;
	opacity: .7;
	filter: alpha(opacity=70);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	.f{ 
		float:right; 
		margin-top:2px;
	}
}

//Modales
.modal-backdrop {
	background-color: $navigation_bar_bgcolor;
	}
.modal .modal-footer button{
	font-weight: 500;
	border-radius: 2px;
	text-transform: uppercase;
}
.modal#frmPausa {
	.details{
			padding:10px;
			background-color: #f5f5f5;
			border: 1px solid #d6d6d6;
			font-weight:300;
			font-size: 105%;
			i{margin-right:5px;}

			.titulo{
				font-size: 110%;
				font-weight: normal;
				margin-bottom: 10px;
			}
			p {
				margin-bottom:0;

				&.resp.notafinal{
					margin-bottom: 15px;
					font-weight: bold;
					/* text-align: center; */
					margin-top: -7px;
				}
			}
		}

	.main {
		> .titulo{
			margin-top:0;
			margin-bottom:20px;

			.fa-stack{
				margin-left: -30px;
				padding: 1px;
				background: white;
				border-radius: 50%;
				margin-top: -30px;
			}

		}
		.visual{

		}
	}
	.info{
		padding-bottom:10px;
		> .titulo{
			margin-top:5px; margin-bottom:30px;

			
		}
		.visual{
			max-width: 95px;
			float: right;
			position: absolute;
			right: 0;
			top: -25px;
			padding: 5px;
			background: white;
			border-radius: 8px;
		}
	
	}
	.modal-footer{
		border-top:1px dashed #e5e5e5;
		white-space: nowrap;
		}
}
.modal#frmImgAmpliada{
	background-color:black;
	//background-size:cover;
	background-position:center center;
	background-image:none;
	background-repeat:no-repeat;
}

//media queries
@media (max-width: 767px){

	body > .login div.screens{
		margin-top:30%;
	}

	.cargarMas{
		margin-right:2%;
	}
	section.bloque{
		margin-left:2%!important;
		margin-right:0!important;
	}
	article.card{
		width:48%;
		margin-top:5px; 
		margin-right:5px;
		}

	aside .vbox > footer {
		position: absolute;
		bottom: 10px;
		
		left: 2.5%;
		width: 95%;
		min-height:45px; height:45px;

		color:#adbece;
		padding: 5px 5px 0 5px!important;

		.ajustes, .logout{
			font-size:22px; 
			line-height: 26px;
			width:44px!important;
			color:#adbece!important;
		}
		.avatar{
			width:50%;
			.pic {
				width: 30px;
			}
			.nombre{
				float: left;
				font-size: 13px;
				line-height: 28px;
				margin-left: 4px;
			}
		}
	}

	body{overflow:hidden;}
	.modal#frmPausa{
		
		padding-left:0;
		padding-top:0;

		.info{
			margin-top: 15px;
			margin-bottom: 5px;
			
			.visual{
				right: 11px;
				top: -20px;
				max-height: 70px;
				background:transparent;	
							
			}
		}

		.main {
			> .titulo{
				margin-bottom: 5px;
			}
		}
		.info{
			> .titulo{
				margin-bottom: 5px;
			}
		}

		.modal-dialog{
			margin-left: 0; margin-right: 0;
			margin-top:40px; 

			.modal-content{
				border-radius:0;

				.modal-body{
					padding-bottom: 0;
				}
			}

		}

		.visual{display:none;}
	}

	ul.btn2_1 span.arrow{
		margin-left:-25%;
	}
	ul.btn2_2 span.arrow{
		margin-left:+25%;
	}

	ul.btn3_1 span.arrow{
		margin-left:-37%;
	}
	ul.btn3_2 span.arrow{
		margin-left:0%;
	}
	// ul.btn3_2 span.arrow{
	// 	margin-left:0%;
	// }

	.navbar + section .nav-off-screen {
		top: 50px;
	}
	.navbar + section .nav-off-screen + * {
		top: 50px;
	}
	.nav-off-screen + * {
		background-color: #f7f7f7;
		-webkit-transition: -webkit-transform 0.2s ease-in-out;
		-moz-transition: -moz-transform 0.2s ease-in-out;
		-o-transition: -o-transform 0.2s ease-in-out;
		transition: transform 0.2s ease-in-out;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		-webkit-transform: translate3d(0px,0px,0px);
		transform: translate3d(0px,0px,0px);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: translate3d(75%,0px,0px);
		transform: translate3d(75%,0px,0px);
		overflow: hidden;
		position: absolute;
		width: 100%;
		top: 0px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	.nav-off-screen + * .nav-off-screen-block {
		display: block !important;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1950;
		background:$navigation_bar_bgcolor; opacity:.4;
		}

	.navbar-header {
		text-align: center;
	}

	.nav-off-screen {
		display: block !important;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 75%;
		visibility: visible;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		& .nav-primary {
			display: block !important;
		}
	}

}
@media (min-width: 768px){
	body > .login div.screens{
		margin-top:20rem;
		}
	.app, .app body{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	article.card{
		margin-top:5px; 
		margin-right:5px;
		}

	.hbox {
		display: table;
		table-layout: fixed;
		border-spacing: 0;
		width: 100%;
		height:100%;
	}
	.vbox{
		display: table;
		border-spacing: 0;
		position: relative;
		height: 100%;
		width: 100%;

		.scrollable{top:50px;}
	}


	body .vbox{
		display: table;
		border-spacing: 0;
		position: relative;
		height: 100%;
		width: 100%;

		> section{
			position: absolute;
			bottom: 0;
			width: 100%;
			top:0;
		}
		> footer {
			position: absolute;
		}
	}

	.aside-md {
		width: 220px;
	}

	.hbox > aside, .hbox > section,
	.vbox > aside, .vbox > section{
		display: table-cell;
		vertical-align: top;
		height: 100%;
		padding: 0;
		float: none;
	}

	.navbar-nav.navbar-right{
		float:right!important;
	}
	.navbar-nav.navbar-right:last-child {
		margin-right: -15px;
	}

}



#swipeview-slider{

	> div {
		min-height:400px;
		position:relative;

		display:-webkit-box; display:-moz-box; display:-ms-box; display:-o-box; display:box;
		-webkit-box-orient:vertical; -moz-box-orient:vertical; -ms-box-orient:vertical; -o-box-orient:vertical; box-orient:vertical;
		-webkit-box-pack:center; -moz-box-pack:center; -ms-box-pack:center; -o-box-pack:center; box-pack:center;
		-webkit-box-align:center; -mox-box-align:center; -ms-box-align:center; -o-box-align:center; box-align:center;
		overflow:hidden;
	
		.swipeview-active{}

		&.portada{
			
			span{
				width: 100%;
				display: block;
				text-align: center;
				margin-top:5rem;
			}
			div.visual{
				height: 100px;
				width: 100%;
				margin-top: 40px;

				background-repeat:no-repeat;
				background-position: center center;

				}
			&.inicio div.visual{ background-image:url("../images/m-swipe-left.png"); }
			&.fin div.visual{ background-image:url("../images/m-swipe-right.png"); }
			
			font-size:28px; font-style:italic; 
			background-color:$navigation_bar_bgcolor; color:white;
		}
	}

}
// #swipeview-slider .swipeview-active span {
// 	-webkit-transform:translate(0,0) translateZ(0);
// 	-moz-transform:translate(0,0) translateZ(0);
// 	-ms-transform:translate(0,0);
// 	-ms-transform:translate(0,0) translateZ(0);
// 	-o-transform:translate(0,0);
// 	-o-transform:translate(0,0) translateZ(0);
// 	transform:translate(0,0) translateZ(0);
// }

// #wrapper > div > .swipeview-loading {
// 	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#555)),
// 		-webkit-gradient(linear, 0 0, 100% 0, from(#777), to(#777));
// 	background-position:50% 50%, 50% 50%;
// 	background-size:200px 140px, 210px 150px;
// 	background-repeat:no-repeat;
// }

// #wrapper > div > .swipeview-loading img,
// #swipeview-slider img.loading {
// 	-webkit-transition-duration:0s;
// 	opacity:0;
// }

// #wrapper > div > .swipeview-loading span {
// 	-webkit-transition-duration:0s;
// 	-moz-transition-duration:0s;
// 	-ms-transition-duration:0s;
// 	-o-transition-duration:0s;
// 	transition-duration:0s;
// 	-webkit-transform:translate(0,100%) translateZ(0);
// 	-moz-transform:translate(0,100%) translateZ(0);
// 	-ms-transform:translate(0,100%);
// 	-ms-transform:translate(0,100%) translateZ(0);
// 	-o-transform:translate(0,100%);
// 	-o-transform:translate(0,100%) translateZ(0);
// 	transform:translate(0,100%) translateZ(0);
// }