* > i {
  margin-right: 2px; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #717171;
  background-color: #25313e;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); }

.jumbotron {
  padding-top: 80px;
  margin-bottom: 0;
  padding-bottom: 60px;
  background-color: transparent;
  color: white;
  margin: 0 auto; }
  .jumbotron .icon div {
    height: 250px;
    width: 250px;
    border-radius: 500px;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    background-image: url(../images/icon250.png);
    background-position: center center;
    background-repeat: no-repeat; }
  .jumbotron .titulo {
    padding-top: 30px; }
    .jumbotron .titulo h1 {
      font-weight: 100;
      margin-bottom: 0 !important; }
    .jumbotron .titulo p {
      color: rgba(255, 255, 255, 0.8); }
    .jumbotron .titulo .beta {
      color: #9db1c5; }

a, a:hover, a:active {
  color: #9db1c5; }

body.no-header .container.body {
  padding-top: 0; }
body.no-header .row,
body.no-header footer .row {
  margin-left: 5%;
  margin-right: 5%; }
body.no-header .pregunta {
  margin-top: 20px;
  margin-bottom: 2px;
  display: block;
  color: #9db1c5;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer; }
body.no-header .respuesta {
  font-size: 16px; }

.container.header {
  width: 100%;
  padding: 0 15%;
  color: white; }
  .container.header .row {
    padding-bottom: 10px; }
    .container.header .row .icon {
      background-image: url(../images/icon72.png);
      background-repeat: no-repeat;
      background-size: 50px;
      margin-top: 13px;
      width: 55px;
      height: 55px;
      margin-right: 5px;
      float: left; }
    .container.header .row .tit-pagina {
      color: #9db1c5; }

.container.body {
  width: 100%;
  margin-left: 0;
  padding: 30px 15%;
  background-color: whitesmoke;
  color: black; }
  .container.body .row {
    margin-top: 40px;
    margin-bottom: 100px; }
    .container.body .row > div {
      float: left; }
    .container.body .row:nth-child(2n+1) > div:first-child {
      float: right; }
    .container.body .row .texto h4 {
      font-size: 2em;
      font-weight: 100;
      color: #9db1c5; }
    .container.body .row .texto p {
      color: inherit;
      font-size: 17px; }
      .container.body .row .texto p.subtitulo {
        font-style: oblique;
        color: gray; }
    .container.body .row .icon {
      margin: 0 auto;
      text-align: center; }
      .container.body .row .icon img {
        max-width: 250px;
        box-shadow: 0px 0px 10px black; }

footer {
  color: white; }
  footer span.sep {
    color: rgba(255, 255, 255, 0.2); }
  footer .social {
    float: left; }
    footer .social .autores, footer .social .soc {
      display: inline-block; }
  footer .pags {
    text-align: right; }
  .hidden-xs footer a.mailto, .hidden-xs footer a:hover.mailto, .hidden-xs footer a:active.mailto {
    color: white; }
  .hidden-xs footer a.soc, .hidden-xs footer a:hover.soc, .hidden-xs footer a:active.soc {
    padding: 2px 5px 3px;
    border-radius: 3px; }
    .hidden-xs footer a.soc.fb, .hidden-xs footer a:hover.soc.fb, .hidden-xs footer a:active.soc.fb {
      background-color: #335397;
      color: white; }
    .hidden-xs footer a.soc.googleplus, .hidden-xs footer a:hover.soc.googleplus, .hidden-xs footer a:active.soc.googleplus {
      background-color: #da2713;
      color: white; }
    .hidden-xs footer a.soc i, .hidden-xs footer a:hover.soc i, .hidden-xs footer a:active.soc i {
      margin-right: 4px;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      padding-right: 8px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 2px; }

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 10px; }
    .jumbotron .titulo {
      padding: 0; }
      .jumbotron .titulo h1 {
        margin-top: 10px;
        font-size: 1.5em; }
      .jumbotron .titulo p {
        font-size: 16px; }
    .jumbotron .icon {
      padding-left: 0; }
      .jumbotron .icon div {
        height: 150px;
        width: 150px;
        background-size: contain;
        box-shadow: none; }

  .container.body {
    padding: 30px 15px !important; }
    .container.body .row {
      margin-top: 0;
      margin-bottom: 20px; }
      .container.body .row .texto h4 {
        font-size: 1.3em; }
      .container.body .row .texto p {
        font-size: 14px; }
      .container.body .row .icon img {
        margin-top: 1rem;
        max-width: 100%; }
      .container.body .row:last-child {
        margin-bottom: 0; }
      .container.body .row.test .icon img {
        margin-top: 4rem; }
      .container.body .row.social .icon img {
        margin-top: 6rem; }

  footer .container {
    padding: 5px 15px 15px !important; }
    footer .container .row, footer .container .pags, footer .container .social {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0; }
    footer .container .pags {
      padding-left: 0;
      padding-top: 15px; }
    footer .container .social {
      float: left;
      margin-top: 10px; }
    footer .container .visible-xs a.mailto {
      background-color: transparent; }
      footer .container .visible-xs a.mailto .fa-stack-2x {
        color: white; }
      footer .container .visible-xs a.mailto .fa-stack-1x {
        color: black; }
    footer .container .visible-xs a.fb {
      background-color: transparent; }
      footer .container .visible-xs a.fb .fa-stack-2x {
        color: #335397; }
      footer .container .visible-xs a.fb .fa-stack-1x {
        color: white; }
    footer .container .visible-xs a.googleplus {
      background-color: transparent; }
      footer .container .visible-xs a.googleplus .fa-stack-2x {
        color: #da2713; }
      footer .container .visible-xs a.googleplus .fa-stack-1x {
        color: white; }
    footer .container a.pag {
      padding: 11px 5px 11px 7px; }
    footer .container .visible-xs span.sep {
      font-weight: 100;
      margin-left: 2px;
      margin-right: -3px; }

  body.no-header .container.header {
    padding: 0px 15px 10px !important; }
    body.no-header .container.header .row {
      padding-bottom: 0;
      margin-left: 0;
      margin-right: 0; }
  body.no-header .container.body {
    padding: 0px 15px 20px !important; }
    body.no-header .container.body .row {
      margin-left: 0;
      margin-right: 0; }
  body.no-header .pregunta {
    font-size: 16px; }
  body.no-header .respuesta {
    font-size: 14px; }
    body.no-header .respuesta img {
      max-width: 100%; } }
@media screen and (min-width: 768px) {
  .visible-xs {
    display: none; }

  .container {
    padding: 40px 0; }

  .index .container {
    padding: 40px 15%; }

  .index footer .container {
    padding: 40px 0%; }

  footer .container a.mailto, footer .container a.soc {
    text-decoration: none;
    border-radius: 500px;
    padding-right: 10px;
    padding-left: 8px;
    padding-bottom: 5px;
    font-size: 18px;
    padding-top: 5px; }
  footer .container a.soc {
    padding-left: 6px !important; }
    footer .container a.soc.fb {
      background-color: #335397;
      color: white; }
    footer .container a.soc.googleplus {
      background-color: #da2713;
      color: white; }
  footer .container a.mailto {
    width: 19px;
    height: 19px;
    padding-left: 5px;
    padding-right: 0px;
    margin-right: 4px;
    background-color: white;
    color: #25313e; }

  footer .pags {
    text-align: right;
    font-size: 18px;
    margin-top: 5px; } }

/*# sourceMappingURL=web.css.map */
