$navigation_bar_bgcolor:#25313e; 
$azulEnlace:rgb(157, 177, 197);

$bggoo:#da2713;
$bgfb:#335397;

* > i{margin-right:2px;}


body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #717171;

	background-color:$navigation_bar_bgcolor;
	box-shadow:inset 0 0 100px rgba(0,0,0,.5);
	}
	

.jumbotron{
	padding-top:80px; 
	margin-bottom:0;
	padding-bottom:60px;

	background-color:transparent;
	color: white;

	margin:0 auto;
	
	.icon div{
		height:250px; width:250px; 
		border-radius:500px; box-shadow:inset 0 0 100px rgba(0,0,0,.5);
		margin:0 auto;

		background-image:url(../images/icon250.png);
		background-position: center center;
		background-repeat: no-repeat;
	}

	.titulo{
		padding-top:30px; 

		h1 {
			font-weight: 100;
			margin-bottom:0!important;
		}

		p{
			color:rgba(255, 255, 255, .8)
		}
		.beta{
			color:rgb(157, 177, 197);
		}
		
	}
}

a, a:hover, a:active {
	color:$azulEnlace;
}
body.no-header{ 
	.container.body{
		padding-top:0;
	}
	.row, 
	footer .row{
		margin-left:5%; margin-right:5%;
	}

	.pregunta{
		margin-top:20px; margin-bottom:2px;
		display:block; 
		color:$azulEnlace;
		font-size: 20px;

		text-decoration: none; cursor:pointer;
	}
	.respuesta{
			font-size:16px
		}
}

.container.header{
	width: 100%;
	padding: 0 15%;
	color: white;
	
	.row{
		padding-bottom:10px;

		.icon{
			background-image:url(../images/icon72.png);
			background-repeat: no-repeat;
			background-size: 50px;

			margin-top: 13px;
			width: 55px; height: 55px; margin-right:5px;

			
			float: left;
		}

		.tit-pagina{
			color:#9db1c5;
		}
	}
}
.container.body{
	width:100%; 
	margin-left:0; 
	padding:30px 15%;

	background-color:whitesmoke;
	color:black;

	//background-color:$navigation_bar_bgcolor;
	// color: rgba(255, 255, 255, 0.8);

	
	.row{
		margin-top: 40px;
		margin-bottom:100px;

		> div{float:left;}

		&:nth-child(2n+1){
			> div:first-child{float:right;}

		}

		.texto{
			h4{
				font-size: 2em; font-weight:100;
				color: #9db1c5;
			}
			p {
				color:inherit;
				font-size: 17px;

				&.subtitulo{
				font-style: oblique;
				color: gray;
				}
			}
		}
		.icon{
			margin:0 auto;
			text-align: center;

			img{
				max-width: 250px;
				box-shadow:0px 0px 10px black;
			}
		}
	}
}

footer{

	color: white;

	span.sep{color:rgba(255, 255, 255, .2)}
	.social{
		float:left;
		.autores, .soc{display:inline-block;}
	}
	.pags{text-align:right;}
	a, a:hover, a:active {

		.hidden-xs &.mailto{
				color:white

			}
		.hidden-xs &.soc{
			padding: 2px 5px 3px;
			border-radius:3px;
			
			&.fb{
				background-color:#335397;
				color:white;
			}
			&.googleplus{
				background-color:rgb(218,39,19);
				color:white;
			}
			
			i{
				margin-right: 4px;
				border-right: 1px solid rgba(255, 255, 255, .3);
				padding-right: 8px;
				padding-top: 3px;
				padding-bottom: 3px;
				padding-left: 2px;
			}
		}
	}
}

//*********************
//	MEDIA QUERIES
//*********************
@media screen and (max-width: 768px) {//telefonos
	.jumbotron{
		padding-top:20px;
		padding-bottom:10px;

		
		.titulo {
			padding:0; 
			h1 {
				margin-top: 10px;
				font-size: 1.5em;
			}
			p {
				font-size:16px;
			}
		}
		.icon {
			padding-left:0;
			div{
				height: 150px;
				width: 150px;
				background-size: contain;
				box-shadow:none;
			}
		}
	}
	.container.body{
		padding:30px 15px !important;

		.row{
			margin-top:0; margin-bottom:20px;

			.texto {
				h4{font-size:1.3em}
				p{font-size:14px;}
			}
			.icon{
				img{
					margin-top:1rem;
					max-width: 100%;
				}
			}

			&:last-child{
				margin-bottom:0;
			}
			&.test .icon img{margin-top:4rem;}
			&.social .icon img{margin-top:6rem;}
		}
	}
	footer .container{
		padding:5px 15px 15px!important;
		
		.row, .pags, .social{margin-left:0; margin-right:0; padding-left:0; padding-right:0;}
		.pags{padding-left:0; padding-top:15px;}
		.social{float:left; margin-top:10px;}


		
		.visible-xs a.mailto {
			background-color:transparent;
			.fa-stack-2x{color:white;}
			.fa-stack-1x{color:black;}
		}
		.visible-xs a.fb {
			background-color:transparent;
			.fa-stack-2x{color:$bgfb;}
			.fa-stack-1x{color:white;}
		}
		.visible-xs a.googleplus {
			background-color:transparent;
			.fa-stack-2x{color:$bggoo;}
			.fa-stack-1x{color:white;}
		}

		a.pag{padding:11px 5px 11px 7px;}

		.visible-xs span.sep{
			font-weight: 100;
			margin-left: 2px;
			margin-right: -3px;
		}

		//.sep{display:none;}
	}

	body.no-header{
		.container.header{
			padding:0px 15px 10px !important;

			.row{
				padding-bottom:0;
				margin-left:0; margin-right:0;
			}
		}
		.container.body{
			padding:0px 15px 20px !important;

			.row{
				margin-left:0; margin-right:0;
			}
		}
		.pregunta{font-size:16px;}
		.respuesta{
			font-size:14px;
			img{max-width:100%;}
		}


	}
}
@media screen and (min-width:768px) {
	.visible-xs{display:none;}
 	
 	.container{padding:40px 0;}
	.index .container{padding:40px 15%;}

	.index footer .container{padding:40px 0%;}

	footer .container{

		a.mailto, a.soc{
			text-decoration: none;
			border-radius:500px;

			padding-right: 10px;
			padding-left: 8px;
			padding-bottom: 5px;
			font-size: 18px;

			
			padding-top: 5px;
			}
		a.soc{
			padding-left:6px!important;
			&.fb{background-color:$bgfb; color:white;}
			&.googleplus{background-color:$bggoo; color:white;}
		}
			
		a.mailto{
			width: 19px; height:19px; padding-left: 5px; padding-right: 0px; margin-right:4px;
			background-color:white; 
			color:$navigation_bar_bgcolor;
			}
		}
	footer .pags{
		text-align: right;
		font-size: 18px;
		margin-top: 5px;
	}
}

	
