/*Android issues*/
li, a, span, button, div, .btn {
  outline: none !important;
  -moz-tap-highlight-color: transparent !important;
  -moz-user-select: none !important;
  -moz-user-focus: ignore !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none !important;
  -webkit-user-focus: ignore !important;
  tap-highlight-color: transparent !important;
  user-select: none !important;
  user-focus: ignore !important; }

.fade {
  opacity: 1; }

body.cordova article.card {
  -webkit-overflow-scrolling: touch; }

* > i {
  margin-right: 2px; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #717171;
  background-color: transparent; }

body > .vbox {
  overflow: hidden; }

body.login {
  background: #25313e; }
  body.login .throbber {
    background: url("../images/throbber-white.svg") no-repeat center right;
    display: block;
    height: 40px;
    background-size: 30px;
    position: absolute;
    bottom: 0;
    height: 110px;
    width: 95%;
    left: 0; }
  body.login > section {
    color: white;
    left: 0;
    width: 100%;
    max-width: 400px;
    margin: 15% auto; }
    body.login > section div.screens {
      height: 250px;
      width: 250px;
      left: 0;
      margin-bottom: 5px;
      margin: 0 auto;
      border-radius: 500px;
      box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
      background-image: url(../images/ico250.png);
      background-position: center center;
      background-repeat: no-repeat; }
    body.login > section .btn {
      width: 220px;
      margin: 0 auto;
      display: inherit;
      padding: 10px 12px;
      font-size: 18px; }
    body.login > section p.status {
      margin: 15px;
      font-size: 16px;
      text-align: center; }
      body.login > section p.status.sinRegistroPrevio {
        margin-top: 50px;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 12px;
        border-top: 1px dashed rgba(232, 232, 232, 0.7);
        color: rgba(232, 232, 232, 0.7);
        padding-top: 5px; }

body.login.no-connection div.screens {
  background-image: url(../images/no-connection.png);
  box-shadow: none; }
body.login.no-connection .btn-mobile, body.login.no-connection .btn-web {
  display: none !important; }
body.login.no-connection .btn-no-connection {
  display: block !important; }

header#navigation_bar, section#main_container {
  min-width: 320px; }

section#main_container {
  overflow: hidden !important; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

header#navigation_bar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  background-color: #25313e;
  color: #9db1c5; }
  header#navigation_bar .barra .btn-menu {
    width: 50px; }
    header#navigation_bar .barra .btn-menu ul {
      margin-top: 40px; }
  header#navigation_bar .barra .navbar-header {
    height: 50px;
    width: 100%; }
    header#navigation_bar .barra .navbar-header > ul > li > a {
      color: inherit; }
      header#navigation_bar .barra .navbar-header > ul > li > a :hover {
        color: #fff; }
  header#navigation_bar .navbar-header .btn {
    position: absolute;
    font-size: 1.3em;
    padding: 9px 16px;
    line-height: 30px;
    left: 0;
    color: inherit; }
  header#navigation_bar a.navbar-brand {
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    float: none;
    text-align: center;
    color: inherit;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal; }
    header#navigation_bar a.navbar-brand img {
      max-height: 30px;
      margin-top: -4px;
      vertical-align: middle;
      display: inherit; }
    header#navigation_bar a.navbar-brand + .btn {
      right: 0;
      top: 0;
      left: auto; }
  header#navigation_bar .barra.vista a.navbar-brand {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  header#navigation_bar .nav > li > a:hover, header#navigation_bar .nav > li > a:focus,
  header#navigation_bar .nav > li.open > a {
    color: #9db1c5;
    background-color: #25313e; }

section#main_container {
  top: 50px; }
  section#main_container aside {
    background-color: #41586e;
    color: #9db1c5; }
    section#main_container aside .header, section#main_container aside .footer {
      min-height: 50px;
      padding: 0 15px; }
    section#main_container aside .vbox {
      min-height: 400px; }
    section#main_container aside .header {
      background-color: #89cc97; }
    section#main_container aside nav {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
      section#main_container aside nav li {
        line-height: 1.5;
        position: relative;
        display: block; }
        section#main_container aside nav li a {
          padding: 11px 15px;
          position: relative;
          font-weight: bold;
          font-size: 14px;
          border-top: 1px solid transparent;
          border-color: rgba(255, 255, 255, 0.05);
          transition: color .3s ease-in-out 0s;
          color: #adbece; }
          section#main_container aside nav li a:hover {
            background-color: rgba(0, 0, 0, 0.05); }
            section#main_container aside nav li a:hover i b {
              width: 100%; }
          section#main_container aside nav li a i {
            margin: -12px -15px;
            line-height: 44px;
            width: 44px;
            float: left;
            margin-right: 10px;
            font-size: 14px;
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            text-align: center;
            position: relative;
            overflow: hidden;
            color: #fff; }
            section#main_container aside nav li a i:before {
              position: relative;
              z-index: 2; }
            section#main_container aside nav li a i b {
              position: absolute;
              left: 0;
              width: 1px;
              top: 0;
              bottom: 0;
              z-index: 0;
              transition: left .25s; }
        section#main_container aside nav li.active a {
          background-color: rgba(0, 0, 0, 0.05);
          color: white; }
          section#main_container aside nav li.active a i b {
            width: 100%; }
      section#main_container aside nav li.continuarTest b.bg {
        background-color: #fb6b5b; }

.nomargin {
  margin: 0; }

.nopadding {
  padding: 0; }

.fa-8x, .fa-stack-8x {
  font-size: 8em; }

.fa-7x, .fa-stack-7x {
  font-size: 7em; }

.fa-6x, .fa-stack-6x {
  font-size: 6em; }

.fa-5x, .fa-stack-5x {
  font-size: 5em; }

.fa-4x, .fa-stack-4x {
  font-size: 4em; }

.fa-3x, .fa-stack-3x {
  font-size: 3em; }

.fa-stack-1x, .fa-stack-2x,
.fa-stack-3x, .fa-stack-4x,
.fa-stack-5x, .fa-stack-6x,
.fa-stack-7x, .fa-stack-8x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.text-success {
  color: #8ec165; }

.text-danger {
  color: #fb6b5b; }

.text-info {
  color: #4cc0c1; }

.text-white {
  color: white; }

.progress-sm {
  height: 7px; }

.arrow {
  border-width: 8px;
  z-index: 10; }
  .arrow, .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
  .arrow.top {
    left: 50%;
    margin-left: -8px;
    border-top-width: 0;
    border-bottom-color: #eee;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    top: -8px; }
    .arrow.top:after {
      content: " ";
      top: 1px;
      margin-left: -7px;
      border-top-width: 0;
      border-bottom-color: #fff; }
  .arrow:after {
    border-width: 7px;
    content: ""; }

.dropdown-menu {
  min-width: 330px;
  max-height: 330px;
  overflow-y: auto; }

.dropdown-menu > li > a {
  white-space: normal;
  padding-top: 12px;
  padding-bottom: 12px; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  cursor: pointer;
  background-image: none;
  filter: none;
  background-color: #f1f1f1 !important;
  color: #717171; }

.avatar, footer .avatar {
  color: #9db1c5 !important; }
  .avatar .img, footer .avatar .img {
    border: 1px solid rgba(255, 255, 255, 0.35);
    display: block;
    border-radius: 500px;
    white-space: nowrap; }
  .avatar .pic, footer .avatar .pic {
    width: 30px;
    margin-top: 0px;
    margin-right: 5px; }
  .nav .avatar .pic, .nav footer .avatar .pic {
    margin-top: -5px; }
  .avatar img, footer .avatar img {
    border-radius: 500px; }

.thumb-xs {
  width: 38px;
  display: inline-block; }

.m-r-sm {
  margin-right: 10px; }

.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

h1, h2, h3, h4, h4, small {
  -webkit-font-smoothing: antialiased; }

.m-n {
  margin: 0 !important; }

.m-b-none {
  margin-bottom: 0; }

.m-r-sm {
  margin-right: 10px; }

.b-r {
  border-right: 1px solid #cfcfcf; }

.b-l {
  border-left: 1px solid #cfcfcf; }

.bg-primary {
  background-color: #65bd77;
  color: #e2f3e5; }

.bg-danger {
  background-color: #fb6b5b;
  color: #ffffff; }

.bg-warning {
  background-color: #ffc333;
  color: #fff8e6; }

.bg-success {
  background-color: #8ec165;
  color: #ebf4e4; }

.btn-warning, .btn-warning:active {
  border-color: #f0ad4e; }

.btn-primary, .btn-primary:hover, .btn-primary.active,
.btn-primary:focus, .btn-primary:active,
.open .dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #65bd77;
  border-color: #65bd77; }

.btn-dark, .bg-dark {
  color: #fff !important;
  background-color: #25313e !important;
  border-color: #25313e; }

.btn-dark2 {
  color: #fff !important;
  background-color: #41586e !important;
  border-color: #41586e; }

.btn-success {
  color: #fff !important;
  background-color: #8ec165;
  border-color: #8ec165; }

.btn-success-t {
  color: #8ec165 !important;
  border-color: #8ec165;
  background-color: transparent; }

.bg-info {
  background-color: #4cc0c1;
  color: #d1efef; }

.btn-info-t {
  color: #4cc0c1 !important;
  border-color: #4cc0c1;
  background-color: transparent; }

.btn.btn-dark.transparent {
  background-color: transparent !important;
  color: #25313e !important; }

.vista-header .btn:active,
.vista-header .btn.active {
  background: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 0;
  border-color: rgba(0, 0, 0, 0.1) !important; }

.btn-rounded {
  border-radius: 50px; }

.btn-icon.btn-sm {
  padding-bottom: 5px;
  padding-top: 6px;
  padding-left: 4px;
  padding-right: 2px;
  width: 30px;
  text-align: center; }

.btn-icon.btn-rounded {
  padding-right: 4px !important;
  padding-left: 4px !important;
  width: 32px !important; }

.btn-default {
  color: #717171 !important; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-focus: none;
  -moz-user-select: none;
  -moz-user-focus: none;
  user-select: none;
  user-focus: none; }

.resultados > * {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 0;
  padding-right: 0;
  text-align: center; }
  .resultados > *:first-child {
    border-left: none !important; }
.resultados .small {
  display: block;
  font-size: 12px;
  text-transform: uppercase; }
.resultados .bold {
  font-weight: bold; }

article.card, article.pack {
  display: inline-block;
  min-height: 80px;
  width: 49%;
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid #E0DADA;
  box-shadow: 0px 2px 2px #AAA;
  overflow: hidden;
  background: white;
  cursor: pointer; }
  article.card div.body, article.pack div.body {
    height: 70px; }
  article.card footer, article.pack footer {
    padding-left: 2px;
    padding-right: 2px;
    height: 70px;
    border-top: 1px solid #f0f0f0;
    background-color: rgba(50, 50, 50, 0.1); }

#content {
  width: 100%;
  min-height: 80%; }
  #content .vista {
    background-color: rgba(50, 50, 50, 0.1); }
    #content .vista .bl {
      display: block;
      margin-left: 0;
      margin-right: 0; }
    #content .vista .vista-header {
      height: 50px;
      background-color: rgba(50, 50, 50, 0.1); }
      #content .vista .vista-header > .btn-group {
        width: 100%;
        height: 50px; }
      #content .vista .vista-header .btn {
        border-radius: 0;
        padding-top: 15px;
        padding-bottom: 13px;
        min-height: 50px; }
    #content .vista .vista-body {
      min-height: 50px; }
      #content .vista .vista-body.flowable {
        overflow-y: auto; }
      #content .vista .vista-body.cargando {
        background: url("../images/throbber.svg") no-repeat center center;
        background-size: 50px; }
      #content .vista .vista-body section.bloque {
        margin-left: 15px !important;
        margin-right: 15px !important;
        padding-top: 10px; }
      #content .vista .vista-body article.pack {
        background-color: rgba(46, 62, 78, 0.8);
        color: #9db1c5 !important;
        border-radius: 500px;
        min-width: 140px; }
        #content .vista .vista-body article.pack i {
          margin-top: 15px;
          font-size: 90px !important;
          color: inherit !important; }
        #content .vista .vista-body article.pack footer {
          border-top: rgba(46, 62, 78, 0.2);
          background-color: rgba(46, 62, 78, 0.3); }
          #content .vista .vista-body article.pack footer .frow {
            color: inherit; }
            #content .vista .vista-body article.pack footer .frow span.nombre {
              text-align: center;
              max-width: 70%;
              margin-left: 15%;
              height: 20px !important;
              white-space: normal; }
            #content .vista .vista-body article.pack footer .frow small {
              text-align: center;
              display: block; }
    #content .vista .admonition {
      margin-top: 20%;
      margin-left: 5%;
      margin-right: 5%; }
      #content .vista .admonition > i {
        display: block;
        text-align: center; }
      #content .vista .admonition > div {
        display: block;
        text-align: center; }
        #content .vista .admonition > div .tit {
          display: block;
          font-size: 120%;
          text-align: center; }
        #content .vista .admonition > div .des, #content .vista .admonition > div .sub {
          margin-top: 10px;
          display: block;
          text-align: left;
          font-size: 17px; }
    #content .vista .fila {
      width: 100%;
      text-align: left;
      background: transparent;
      border: 0;
      color: white;
      padding-top: 5px;
      padding-bottom: 15px; }
    #content .vista .config .row {
      cursor: pointer;
      padding-bottom: 5px;
      margin-left: 0;
      margin-right: 0;
      font-size: 16px;
      text-align: left;
      padding-bottom: 10px; }
      #content .vista .config .row > * {
        padding-left: 0;
        padding-right: 0; }
    #content .vista .config i {
      margin-top: 0px;
      font-size: 25px;
      margin-right: 14px;
      color: inherit; }
    #content .vista .config small.bl {
      padding-bottom: 0px;
      text-transform: uppercase; }
    #content .vista .card {
      min-height: 120px;
      color: #979797; }
      #content .vista .card .body {
        min-height: 70px;
        text-align: center; }
        #content .vista .card .body i {
          opacity: .1;
          font-size: 160px;
          color: darkslategray; }
      #content .vista .card .fecha {
        margin-top: -102px;
        min-width: 22px;
        background-color: rgba(50, 50, 50, 0.1);
        text-transform: uppercase;
        font-size: 10px; }
        #content .vista .card .fecha > * {
          text-align: center; }
      #content .vista .card footer .frow {
        width: 100%;
        display: block; }
        #content .vista .card footer .frow span.nombre {
          white-space: normal;
          height: 48px; }
        #content .vista .card footer .frow > * {
          padding-left: 0px;
          padding-right: 0px; }
      #content .vista .card footer span.love {
        color: #aaa;
        padding-left: 1px; }
      #content .vista .card footer span.precio, #content .vista .card footer span.loTengo {
        color: #f0ad4e;
        text-align: right; }
      #content .vista .card footer span.notaTest {
        text-transform: uppercase;
        color: #717171;
        text-indent: inherit;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        white-space: nowrap; }
  #content .vista.vistaTienda .vista-header,
  #content .vista.vistaTienda .vista-body .bloque .cargarMas span {
    background-color: #f0ad4e; }
  #content .vista.vistaMisTest .vista-header,
  #content .vista.vistaMisTest .vista-body .bloque .cargarMas span {
    background-color: #fb6b5b; }
  #content .vista.vistaTienda .vista-header, #content .vista.vistaMisTest .vista-header {
    color: white; }
    #content .vista.vistaTienda .vista-header button, #content .vista.vistaMisTest .vista-header button {
      background: transparent;
      padding-left: 15px;
      color: white; }
      #content .vista.vistaTienda .vista-header button i, #content .vista.vistaMisTest .vista-header button i {
        float: left;
        font-size: 250%;
        line-height: 13px;
        margin-top: 4px;
        opacity: 0.3; }
    #content .vista.vistaTienda .vista-header span.sep, #content .vista.vistaMisTest .vista-header span.sep {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 0;
      margin-top: 8px;
      float: left;
      min-height: 35px; }
    #content .vista.vistaTienda .vista-header ul#categorias .aConFav, #content .vista.vistaMisTest .vista-header ul#categorias .aConFav {
      float: left;
      width: 85%; }
    #content .vista.vistaTienda .vista-header ul#categorias button.btnFav, #content .vista.vistaMisTest .vista-header ul#categorias button.btnFav {
      display: inline-block;
      float: right;
      width: 15%;
      margin-top: -3px;
      min-height: 40px;
      color: rgba(128, 128, 128, 0.2); }
      #content .vista.vistaTienda .vista-header ul#categorias button.btnFav i, #content .vista.vistaMisTest .vista-header ul#categorias button.btnFav i {
        font-size: 16px;
        opacity: 1; }
      #content .vista.vistaTienda .vista-header ul#categorias button.btnFav.on, #content .vista.vistaMisTest .vista-header ul#categorias button.btnFav.on {
        color: rgba(46, 62, 78, 0.8); }
  #content .vista.vistaTienda .vista-body, #content .vista.vistaMisTest .vista-body {
    padding-bottom: 10px; }
    #content .vista.vistaTienda .vista-body .bloque .titulo, #content .vista.vistaMisTest .vista-body .bloque .titulo {
      cursor: pointer;
      padding-left: 2.5px; }
    #content .vista.vistaTienda .vista-body .bloque .cargarMas, #content .vista.vistaMisTest .vista-body .bloque .cargarMas {
      display: block;
      width: 100%;
      background-color: transparent;
      border: none; }
      #content .vista.vistaTienda .vista-body .bloque .cargarMas.aunMas, #content .vista.vistaMisTest .vista-body .bloque .cargarMas.aunMas {
        padding-top: 10px;
        padding-bottom: 10px; }
      #content .vista.vistaTienda .vista-body .bloque .cargarMas span, #content .vista.vistaMisTest .vista-body .bloque .cargarMas span {
        float: right;
        padding: 3px 9px;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 0;
        box-shadow: 0 0 0;
        color: white; }
    #content .vista.vistaTienda .vista-body .bloque .titulo .cargarMas, #content .vista.vistaMisTest .vista-body .bloque .titulo .cargarMas {
      margin-right: 2.5px;
      padding-right: 0px;
      float: right;
      margin-top: -8px;
      width: 60px; }
    #content .vista.vistaTienda .vista-body .bloque:last-child, #content .vista.vistaMisTest .vista-body .bloque:last-child {
      padding-bottom: 20px; }
    #content .vista.vistaTienda .vista-body .bloque article.card.test span.nombre, #content .vista.vistaMisTest .vista-body .bloque article.card.test span.nombre {
      font-size: 82%;
      text-transform: uppercase; }
  #content .vista.vistaTienda .detalle-test, #content .vista.vistaMisTest .detalle-test {
    padding: 20px 10px;
    color: #979797; }
    #content .vista.vistaTienda .detalle-test section.row, #content .vista.vistaMisTest .detalle-test section.row {
      margin-left: 0px;
      margin-right: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      background: #fefefe;
      border: 1px solid #E0DADA;
      border-bottom-width: 0px;
      border-radius: 2px;
      box-shadow: 0px 2px 2px #AAA; }
      #content .vista.vistaTienda .detalle-test section.row.body, #content .vista.vistaMisTest .detalle-test section.row.body {
        border-width: 0px 1px;
        padding: 5px 1.5rem; }
      #content .vista.vistaTienda .detalle-test section.row .visual, #content .vista.vistaMisTest .detalle-test section.row .visual {
        padding-left: 0px;
        margin-left: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center; }
        #content .vista.vistaTienda .detalle-test section.row .visual.mini, #content .vista.vistaMisTest .detalle-test section.row .visual.mini {
          padding-left: 10px;
          float: right; }
      #content .vista.vistaTienda .detalle-test section.row:last-child, #content .vista.vistaMisTest .detalle-test section.row:last-child {
        border-bottom-width: 1px; }
      #content .vista.vistaTienda .detalle-test section.row.botonera, #content .vista.vistaMisTest .detalle-test section.row.botonera {
        padding-left: .3rem;
        padding-right: 1rem;
        padding-top: 5px;
        padding-bottom: 3px;
        border-top-style: dashed;
        min-height: 50px; }
      #content .vista.vistaTienda .detalle-test section.row .data, #content .vista.vistaMisTest .detalle-test section.row .data {
        padding-right: 1rem;
        padding-left: 1rem; }
        #content .vista.vistaTienda .detalle-test section.row .data span.bl, #content .vista.vistaTienda .detalle-test section.row .data .btn-group, #content .vista.vistaMisTest .detalle-test section.row .data span.bl, #content .vista.vistaMisTest .detalle-test section.row .data .btn-group {
          display: block; }
        #content .vista.vistaTienda .detalle-test section.row .data h1, #content .vista.vistaTienda .detalle-test section.row .data h2, #content .vista.vistaMisTest .detalle-test section.row .data h1, #content .vista.vistaMisTest .detalle-test section.row .data h2 {
          margin-top: 10px;
          font-family: 'Open sans', 'Helvetica Neue';
          color: #717171;
          margin-bottom: 0px !important; }
        #content .vista.vistaTienda .detalle-test section.row .data h1, #content .vista.vistaMisTest .detalle-test section.row .data h1 {
          font-weight: 500;
          font-size: 18px; }
        #content .vista.vistaTienda .detalle-test section.row .data h2, #content .vista.vistaMisTest .detalle-test section.row .data h2 {
          font-weight: 400;
          font-size: 16px; }
        #content .vista.vistaTienda .detalle-test section.row .data small, #content .vista.vistaTienda .detalle-test section.row .data .small, #content .vista.vistaMisTest .detalle-test section.row .data small, #content .vista.vistaMisTest .detalle-test section.row .data .small {
          display: block;
          font-size: 12px;
          text-transform: uppercase; }
        #content .vista.vistaTienda .detalle-test section.row .data bold, #content .vista.vistaTienda .detalle-test section.row .data .bold, #content .vista.vistaMisTest .detalle-test section.row .data bold, #content .vista.vistaMisTest .detalle-test section.row .data .bold {
          font-weight: bold; }
        #content .vista.vistaTienda .detalle-test section.row .data .resultados, #content .vista.vistaMisTest .detalle-test section.row .data .resultados {
          margin-top: 10px; }
        #content .vista.vistaTienda .detalle-test section.row .data h2.tit, #content .vista.vistaMisTest .detalle-test section.row .data h2.tit {
          padding-bottom: 8px; }
        #content .vista.vistaTienda .detalle-test section.row .data .progress-text, #content .vista.vistaMisTest .detalle-test section.row .data .progress-text {
          text-transform: uppercase;
          font-size: 12px;
          margin-top: 10px; }
        #content .vista.vistaTienda .detalle-test section.row .data .progress, #content .vista.vistaMisTest .detalle-test section.row .data .progress {
          margin-top: 5px;
          margin-bottom: 10px; }
          #content .vista.vistaTienda .detalle-test section.row .data .progress .progress-bar, #content .vista.vistaMisTest .detalle-test section.row .data .progress .progress-bar {
            background-color: #717171; }
        #content .vista.vistaTienda .detalle-test section.row .data .bl, #content .vista.vistaMisTest .detalle-test section.row .data .bl {
          margin-bottom: 5px; }
        #content .vista.vistaTienda .detalle-test section.row .data .grupo, #content .vista.vistaMisTest .detalle-test section.row .data .grupo {
          margin-top: 20px; }
      #content .vista.vistaTienda .detalle-test section.row .btn.btnDescargar.cargando, #content .vista.vistaMisTest .detalle-test section.row .btn.btnDescargar.cargando {
        background-image: url(../images/throbber.svg);
        background-position: 5px center;
        background-repeat: no-repeat;
        background-size: 16px;
        padding-left: 26px; }
      #content .vista.vistaTienda .detalle-test section.row.resultadoUltimoExamen, #content .vista.vistaMisTest .detalle-test section.row.resultadoUltimoExamen {
        margin-top: 10px; }
    #content .vista.vistaTienda .detalle-test hr, #content .vista.vistaMisTest .detalle-test hr {
      border-color: silver;
      width: 90%;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      margin-bottom: 0; }
    #content .vista.vistaTienda .detalle-test .loTengo, #content .vista.vistaMisTest .detalle-test .loTengo {
      margin-top: 1rem; }
      #content .vista.vistaTienda .detalle-test .loTengo i, #content .vista.vistaMisTest .detalle-test .loTengo i {
        color: #f0ad4e; }
    #content .vista.vistaTienda .detalle-test .btn-sm, #content .vista.vistaMisTest .detalle-test .btn-sm {
      text-transform: uppercase; }
    #content .vista.vistaTienda .detalle-test .cats, #content .vista.vistaMisTest .detalle-test .cats {
      margin: 0;
      font-size: 12px;
      text-transform: uppercase;
      border-width: 1px 0;
      border-style: solid;
      border-color: #e8e8e8;
      padding: 6px 0;
      font-weight: normal;
      margin-bottom: 10px; }
      #content .vista.vistaTienda .detalle-test .cats .fa-stack, #content .vista.vistaMisTest .detalle-test .cats .fa-stack {
        padding-left: 0; }
    #content .vista.vistaTienda .detalle-test .preguntas, #content .vista.vistaTienda .detalle-test .imagenes, #content .vista.vistaTienda .detalle-test .matricula, #content .vista.vistaTienda .detalle-test .grupo, #content .vista.vistaTienda .detalle-test .anho, #content .vista.vistaMisTest .detalle-test .preguntas, #content .vista.vistaMisTest .detalle-test .imagenes, #content .vista.vistaMisTest .detalle-test .matricula, #content .vista.vistaMisTest .detalle-test .grupo, #content .vista.vistaMisTest .detalle-test .anho {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
      padding: 1px 0; }
    #content .vista.vistaTienda .detalle-test .btn-stack, #content .vista.vistaMisTest .detalle-test .btn-stack {
      border: 0;
      padding-top: 0;
      margin-top: 5px; }
      #content .vista.vistaTienda .detalle-test .btn-stack .fa-stack, #content .vista.vistaMisTest .detalle-test .btn-stack .fa-stack {
        border: 1px solid #cccccc;
        border-radius: 50%; }
      #content .vista.vistaTienda .detalle-test .btn-stack .fa-circle, #content .vista.vistaMisTest .detalle-test .btn-stack .fa-circle {
        color: transparent; }
      #content .vista.vistaTienda .detalle-test .btn-stack .fa-inverse, #content .vista.vistaMisTest .detalle-test .btn-stack .fa-inverse {
        color: #717171; }
      #content .vista.vistaTienda .detalle-test .btn-stack.btnLove, #content .vista.vistaMisTest .detalle-test .btn-stack.btnLove {
        margin-right: 0px;
        margin-left: 0px;
        background-color: transparent !important; }
      #content .vista.vistaTienda .detalle-test .btn-stack.btnLove.on .fa-circle, #content .vista.vistaMisTest .detalle-test .btn-stack.btnLove.on .fa-circle {
        color: #8ec165; }
      #content .vista.vistaTienda .detalle-test .btn-stack.btnLove.on .fa-inverse, #content .vista.vistaMisTest .detalle-test .btn-stack.btnLove.on .fa-inverse {
        color: white; }
      #content .vista.vistaTienda .detalle-test .btn-stack.btnLove.on .fa-stack, #content .vista.vistaMisTest .detalle-test .btn-stack.btnLove.on .fa-stack {
        background-color: #8ec165;
        border-color: #8ec165; }
      #content .vista.vistaTienda .detalle-test .btn-stack.btnCompartir, #content .vista.vistaMisTest .detalle-test .btn-stack.btnCompartir {
        background-color: transparent;
        margin-left: -2px; }
    #content .vista.vistaTienda .detalle-test .btnDesinstalar, #content .vista.vistaMisTest .detalle-test .btnDesinstalar {
      margin-left: -3px; }
    #content .vista.vistaTienda .detalle-test .btnAbrir, #content .vista.vistaTienda .detalle-test .btnDescargar, #content .vista.vistaMisTest .detalle-test .btnAbrir, #content .vista.vistaMisTest .detalle-test .btnDescargar {
      margin-top: 5px; }
    #content .vista.vistaTienda .detalle-test .btnAbrir, #content .vista.vistaTienda .detalle-test .btnLove, #content .vista.vistaTienda .detalle-test .loTengo, #content .vista.vistaTienda .detalle-test .btnDesinstalar, #content .vista.vistaMisTest .detalle-test .btnAbrir, #content .vista.vistaMisTest .detalle-test .btnLove, #content .vista.vistaMisTest .detalle-test .loTengo, #content .vista.vistaMisTest .detalle-test .btnDesinstalar {
      display: none !important; }
    #content .vista.vistaTienda .detalle-test .btnDescargar, #content .vista.vistaMisTest .detalle-test .btnDescargar {
      display: inline-block; }
    #content .vista.vistaTienda .detalle-test.tengo-este-test .btnAbrir, #content .vista.vistaTienda .detalle-test.tengo-este-test .btnLove, #content .vista.vistaTienda .detalle-test.tengo-este-test .btnDesinstalar, #content .vista.vistaMisTest .detalle-test.tengo-este-test .btnAbrir, #content .vista.vistaMisTest .detalle-test.tengo-este-test .btnLove, #content .vista.vistaMisTest .detalle-test.tengo-este-test .btnDesinstalar {
      display: inline-block !important; }
    #content .vista.vistaTienda .detalle-test.tengo-este-test .loTengo, #content .vista.vistaMisTest .detalle-test.tengo-este-test .loTengo {
      display: block !important; }
    #content .vista.vistaTienda .detalle-test.tengo-este-test .btnDescargar, #content .vista.vistaMisTest .detalle-test.tengo-este-test .btnDescargar {
      display: none; }
    #content .vista.vistaTienda .detalle-test span.precio, #content .vista.vistaTienda .detalle-test span.loTengo, #content .vista.vistaMisTest .detalle-test span.precio, #content .vista.vistaMisTest .detalle-test span.loTengo {
      font-size: 13px;
      margin-top: 20px;
      margin-bottom: 0 !important;
      text-align: right; }
  #content .vista.vistaMigraTest button.btn {
    width: 100%; }
  #content .vista.vistaMigraTest span.msgError {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    white-space: normal; }
  #content .vista.vistaMigraTest .vista-body {
    padding: 1rem;
    padding-top: 3rem;
    text-align: center; }
    #content .vista.vistaMigraTest .vista-body .btn {
      margin-top: 1rem; }
  #content .vista.vistaMigraTest ul {
    max-height: 600px;
    overflow: auto; }
  #content .vista.vistaSocial {
    background-color: #25313e; }
    #content .vista.vistaSocial .admonition {
      margin-top: 0;
      color: rgba(245, 245, 245, 0.6); }
    #content .vista.vistaSocial.no-header .vista-header {
      display: none; }
    #content .vista.vistaSocial.no-header .vista-body {
      padding-bottom: 50px; }
    #content .vista.vistaSocial .avatar {
      border: 1px solid rgba(255, 255, 255, 0.35);
      margin-top: 0 !important;
      display: block;
      border-radius: 500px;
      white-space: nowrap;
      display: block;
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.35); }
      #content .vista.vistaSocial .avatar img {
        width: 148px;
        height: 148px; }
      #content .vista.vistaSocial .avatar:before {
        content: "";
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 5px;
        top: 5px;
        border: 4px solid #fff;
        border-radius: 500px; }
    #content .vista.vistaSocial .grupos.cargando {
      background: url("../images/throbber-white.svg") no-repeat center center;
      background-size: 25px;
      min-height: 100px; }
    #content .vista.vistaSocial .bl.grupo {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; }
      #content .vista.vistaSocial .bl.grupo > .avatar {
        padding: 15px 5px 5px 5px;
        margin-left: 20px; }
    #content .vista.vistaSocial .bl.grupo, #content .vista.vistaSocial .bl.head {
      padding-top: 10px;
      color: #adbece;
      padding-bottom: 20px; }
      #content .vista.vistaSocial .bl.grupo.head .avatar, #content .vista.vistaSocial .bl.head.head .avatar {
        width: 160px !important;
        float: none !important;
        margin: 20px auto;
        padding: 5px; }
    #content .vista.vistaSocial .resultados {
      height: 40px;
      display: none; }
      #content .vista.vistaSocial .resultados div {
        border-color: rgba(255, 255, 255, 0.1);
        min-height: 35px; }
    #content .vista.vistaSocial .grupo {
      border-top: 1px solid rgba(173, 190, 206, 0.1);
      min-height: 85px;
      padding-bottom: 10px; }
      #content .vista.vistaSocial .grupo.cargando {
        background: url("../images/throbber-white.svg") no-repeat center center;
        background-size: 50px; }
      #content .vista.vistaSocial .grupo > .avatar {
        border: 0;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 65px; }
      #content .vista.vistaSocial .grupo h5 {
        margin-top: 5px;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        font-size: 14px; }
      #content .vista.vistaSocial .grupo span.grupo-personas {
        margin-left: 0;
        padding-left: 0; }
        #content .vista.vistaSocial .grupo span.grupo-personas .persona {
          font-size: 12px;
          float: left;
          padding-left: 0;
          padding-right: 1px;
          padding-top: 3px; }
          #content .vista.vistaSocial .grupo span.grupo-personas .persona .avatar {
            width: 30px !important;
            height: 30px !important; }
          #content .vista.vistaSocial .grupo span.grupo-personas .persona .nombre {
            font-size: 12px;
            float: left;
            margin-top: 5px;
            margin-left: 3px; }
          #content .vista.vistaSocial .grupo span.grupo-personas .persona.sep {
            margin-top: 5px;
            margin-left: 3px;
            margin-right: 2px; }
      #content .vista.vistaSocial .grupo i {
        font-size: 26px;
        padding-right: 0px;
        margin-right: 0;
        text-align: center;
        padding-left: 0px; }
      #content .vista.vistaSocial .grupo:last-child {
        border-bottom: 1px solid rgba(173, 190, 206, 0.1); }
      #content .vista.vistaSocial .grupo.msg-no-leido {
        background-color: rgba(173, 190, 206, 0.5);
        color: #25313e; }
        #content .vista.vistaSocial .grupo.msg-no-leido span.badge {
          display: block; }
      #content .vista.vistaSocial .grupo span.badge {
        display: none;
        float: right;
        background: #f0ad4e;
        margin-right: 10px; }
    #content .vista.vistaSocial .vista-detalle-grupo {
      background-color: #9db1c5;
      color: #25313e;
      overflow: hidden; }
      #content .vista.vistaSocial .vista-detalle-grupo > footer {
        height: 50px;
        background-color: #25313e;
        color: #9db1c5; }
        #content .vista.vistaSocial .vista-detalle-grupo > footer span.input-group-addon {
          background: none;
          color: white;
          border: 0;
          padding-left: 15px;
          padding-right: 15px; }
        #content .vista.vistaSocial .vista-detalle-grupo > footer input {
          border: 1px solid transparent;
          border-radius: 0;
          border-top: 1px solid;
          font-size: 16px;
          height: 40px; }
    #content .vista.vistaSocial .config {
      max-width: 500px; }
      #content .vista.vistaSocial .config .bl {
        padding-top: 10px;
        margin-left: 0px;
        margin-right: 0;
        color: #adbece; }
      #content .vista.vistaSocial .config .txtNombreGrupo {
        font-size: 21px;
        padding-left: 0;
        color: white; }
      #content .vista.vistaSocial .config i {
        background-color: transparent;
        border: 0;
        color: white; }
        #content .vista.vistaSocial .config i.btnNombreGrupo {
          margin-top: -27px;
          font-size: 25px; }
      #content .vista.vistaSocial .config.btnMemberAdd {
        color: white; }
      #content .vista.vistaSocial .config.member.admin:after {
        content: "(Admin)";
        float: right;
        color: rgba(173, 190, 206, 0.6); }
      #content .vista.vistaSocial .config .btnDeleteGroup {
        width: 90%;
        margin-top: 3rem;
        background: transparent;
        border-color: white;
        color: white;
        margin-left: 5%; }
      #content .vista.vistaSocial .config i.btnNombreGrupo, #content .vista.vistaSocial .config button.member i, #content .vista.vistaSocial .config .btnMemberAdd, #content .vista.vistaSocial .config .btnDeleteGroup {
        display: none; }
      #content .vista.vistaSocial .config.admin i.btnNombreGrupo, #content .vista.vistaSocial .config.admin button.member i, #content .vista.vistaSocial .config.admin .btnMemberAdd, #content .vista.vistaSocial .config.admin .btnDeleteGroup {
        display: block; }
      #content .vista.vistaSocial .config small.adminLit {
        float: right;
        color: #f0ad4e;
        opacity: 0.3;
        border: 1px solid;
        padding: 0px 2px; }
    #content .vista.vistaSocial .chat {
      overflow: auto;
      position: relative;
      left: 0;
      top: 0;
      min-height: 100px;
      width: 100%;
      background-color: white; }
      #content .vista.vistaSocial .chat .bocadillo {
        margin-bottom: -1px;
        padding: 15px 0px;
        background-color: #fff;
        border: 1px solid #ddd;
        font-size: 13px; }
        #content .vista.vistaSocial .chat .bocadillo > .nombre {
          font-weight: bold;
          margin-right: 5px; }
        #content .vista.vistaSocial .chat .bocadillo.has-test .row.texto, #content .vista.vistaSocial .chat .bocadillo.has-badge .row.texto {
          padding-bottom: 20px !important; }
        #content .vista.vistaSocial .chat .bocadillo.has-test {
          min-height: 185px; }
          #content .vista.vistaSocial .chat .bocadillo.has-test > .card.test {
            float: right;
            margin-right: 65px;
            margin-top: -50px; }
          #content .vista.vistaSocial .chat .bocadillo.has-test > .row.has-test {
            float: right;
            margin-right: 60px;
            border: 1px solid lightgray;
            box-shadow: 1px 1px 1px;
            min-height: 95px;
            margin-top: -35px;
            width: 140px;
            cursor: pointer;
            background-color: white; }
            #content .vista.vistaSocial .chat .bocadillo.has-test > .row.has-test.cargando {
              background: url("../images/throbber.svg") no-repeat center center;
              background-size: 50px; }
        #content .vista.vistaSocial .chat .bocadillo:nth-child(2n) {
          background-color: #f8f8f8 !important; }
        #content .vista.vistaSocial .chat .bocadillo .fecha {
          float: right; }
        #content .vista.vistaSocial .chat .bocadillo img.thumb-xs {
          float: left; }
        #content .vista.vistaSocial .chat .bocadillo.msg-mio .fecha {
          float: left;
          margin-left: 5px; }
        #content .vista.vistaSocial .chat .bocadillo.msg-mio img.thumb-xs {
          float: right; }
        #content .vista.vistaSocial .chat .bocadillo img {
          margin-left: 15px; }
        #content .vista.vistaSocial .chat .bocadillo .row.texto {
          margin-right: 0;
          margin-left: 0;
          padding-left: 43px;
          padding-right: 40px;
          padding-bottom: 0;
          padding-right: 15px; }
        #content .vista.vistaSocial .chat .bocadillo small {
          margin-right: 5px;
          margin-top: 2px; }
        #content .vista.vistaSocial .chat .bocadillo .row.has-badge, #content .vista.vistaSocial .chat .bocadillo .row.has-test {
          margin-left: 0;
          margin-right: 0;
          margin-top: -15px;
          padding-top: 3px;
          padding-left: 15px;
          padding-right: 15px;
          text-align: right;
          width: 50%;
          font-size: 16px;
          color: gray;
          border-top: 1px solid #ede3b1; }
          #content .vista.vistaSocial .chat .bocadillo .row.has-badge i, #content .vista.vistaSocial .chat .bocadillo .row.has-test i {
            margin-top: 2px;
            font-size: 120%; }
        #content .vista.vistaSocial .chat .bocadillo.vacio {
          text-align: center; }
  #content .vista.vistaEstadisticas {
    background-color: #f7f7f7; }
    #content .vista.vistaEstadisticas .row {
      margin-left: 0;
      margin-right: 0;
      padding-left: 10px;
      padding-right: 10px; }
    #content .vista.vistaEstadisticas .panelCat {
      min-height: 300px; }
    #content .vista.vistaEstadisticas .panel {
      margin-top: 10px;
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid #e8e8e8;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
      #content .vista.vistaEstadisticas .panel .panel-heading {
        background-color: #f5f5f5;
        color: #717171; }
      #content .vista.vistaEstadisticas .panel .panel-body {
        padding: 15px !important; }
    #content .vista.vistaEstadisticas .gra.gra1 {
      height: 240px; }
  #content .vista.vistaAjustes {
    background-color: #25313e;
    color: #adbece; }
    #content .vista.vistaAjustes .bl {
      padding-top: 10px;
      margin-left: 0px;
      margin-right: 0;
      color: #adbece; }
      #content .vista.vistaAjustes .bl span {
        font-size: 19px;
        color: white; }
      #content .vista.vistaAjustes .bl.texto-sep {
        padding-bottom: 14px; }
    #content .vista.vistaAjustes .espacio {
      width: 100%;
      display: block; }
    #content .vista.vistaAjustes .valor {
      font-size: 17px;
      color: white; }
    #content .vista.vistaAjustes .row {
      padding-bottom: 0px;
      padding-top: 12px; }
      #content .vista.vistaAjustes .row.sin-titulo {
        margin-top: 10px; }
      #content .vista.vistaAjustes .row.borde {
        border-top: 1px solid rgba(173, 190, 206, 0.3); }
      #content .vista.vistaAjustes .row i {
        margin-top: 3px;
        font-size: 19px;
        margin-right: 1px; }
  #content.cargando {
    min-height: 100%;
    position: absolute;
    background: #25313e url("../images/throbber-white.svg") no-repeat center center;
    background-size: 50px; }

#flotTip {
  padding: 3px 5px;
  background-color: #000;
  z-index: 100;
  color: #fff;
  opacity: .7;
  filter: alpha(opacity=70);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  #flotTip .f {
    float: right;
    margin-top: 2px; }

.modal-backdrop {
  background-color: #25313e; }

.modal .modal-footer button {
  font-weight: 500;
  border-radius: 2px;
  text-transform: uppercase; }

.modal#frmPausa .details {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #d6d6d6;
  font-weight: 300; }
  .modal#frmPausa .details i {
    margin-right: 5px; }
  .modal#frmPausa .details .titulo {
    font-size: 110%;
    font-weight: normal;
    margin-bottom: 10px; }
  .modal#frmPausa .details p {
    margin-bottom: 0; }
    .modal#frmPausa .details p.resp.notafinal {
      margin-bottom: 15px;
      font-weight: bold;
      /* text-align: center; */
      margin-top: -7px; }
.modal#frmPausa .main > .titulo {
  margin-top: 0;
  margin-bottom: 20px; }
  .modal#frmPausa .main > .titulo .fa-stack {
    margin-left: -30px;
    padding: 1px;
    background: white;
    border-radius: 50%;
    margin-top: -30px; }
.modal#frmPausa .info {
  padding-bottom: 10px; }
  .modal#frmPausa .info > .titulo {
    margin-top: 5px;
    margin-bottom: 30px; }
  .modal#frmPausa .info .visual {
    max-width: 95px;
    float: right;
    position: absolute;
    right: 0;
    top: -25px;
    padding: 5px;
    background: white;
    border-radius: 8px; }
.modal#frmPausa .modal-footer {
  border-top: 1px dashed #e5e5e5;
  white-space: nowrap; }

.modal#frmImgAmpliada {
  background-color: black;
  background-position: center center;
  background-image: none;
  background-repeat: no-repeat; }
  .modal#frmImgAmpliada .cerrar {
    position: absolute;
    bottom: 0;
    background: black;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: white; }

.hidden-xs {
  display: none !important; }

.visible-xs {
  display: block !important; }

body > .vbox {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

header#navigation_bar a.navbar-brand {
  width: 70%;
  text-align: left;
  font-size: 19px;
  float: left;
  margin-left: 30px; }
  header#navigation_bar a.navbar-brand img {
    display: none; }

body > .login div.screens {
  margin-top: 30%; }

.cargarMas {
  margin-right: 2%; }

section.bloque {
  margin-left: 2% !important;
  margin-right: 0 !important; }

article.card {
  width: 48%;
  margin-top: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px; }

aside .vbox > footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 300px;
  min-height: 145px;
  color: #adbece;
  background-color: #4A6075;
  padding: 5px 0px 0 0px !important; }
  aside .vbox > footer .btn-group {
    width: 100%;
    padding: 5px 0 5px 1px; }
  aside .vbox > footer li {
    height: 40px; }
  aside .vbox > footer .ajustes, aside .vbox > footer .tour {
    line-height: 26px;
    color: #adbece !important;
    background: inherit !important; }
    aside .vbox > footer .ajustes i, aside .vbox > footer .tour i {
      margin-right: 23px; }
  aside .vbox > footer .logout {
    font-size: 22px;
    line-height: 30px;
    width: 50px !important;
    color: #adbece !important; }
  aside .vbox > footer .avatar {
    padding-left: 6px;
    width: 70%; }
    aside .vbox > footer .avatar .pic {
      width: 30px;
      margin-right: 12px; }
    aside .vbox > footer .avatar .nombre {
      float: left;
      font-size: 13px;
      line-height: 28px;
      margin-left: 4px; }

body {
  overflow: hidden; }

.modal#frmPausa {
  padding-left: 0;
  padding-top: 0; }
  .modal#frmPausa .info {
    margin-top: 15px;
    margin-bottom: 5px; }
    .modal#frmPausa .info .visual {
      right: 11px;
      top: -20px;
      max-height: 70px;
      background: transparent; }
  .modal#frmPausa .main > .titulo {
    margin-bottom: 5px; }
  .modal#frmPausa .info > .titulo {
    margin-bottom: 5px; }
  .modal#frmPausa .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%; }
    .modal#frmPausa .modal-dialog .modal-content {
      border-radius: 0; }
      .modal#frmPausa .modal-dialog .modal-content .modal-body {
        padding-bottom: 0; }
  .modal#frmPausa .visual {
    display: none; }

ul.btn2_1 span.arrow {
  margin-left: -25%; }

ul.btn2_2 span.arrow {
  margin-left: +25%; }

ul.btn3_1 span.arrow {
  margin-left: -37%; }

ul.btn3_2 span.arrow {
  margin-left: 0%; }

.navbar + section .nav-off-screen {
  top: 50px; }

.navbar + section .nav-off-screen + * {
  top: 50px; }

.nav-off-screen + * {
  background-color: #f7f7f7;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(300px, 0px, 0px);
  transform: translate3d(300px, 0px, 0px);
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; }

.nav-off-screen + * .nav-off-screen-block {
  display: block !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1950;
  background: #25313e;
  opacity: .4; }

.navbar-header {
  text-align: center; }

.nav-off-screen {
  display: block !important;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  visibility: visible;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .nav-off-screen .nav-primary {
    display: block !important; }

#content .vista.vistaTienda .detalle-test section.row,
#content .vista.vistaMisTest .detalle-test section.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 410px; }

@media (min-width: 768px) {
  body > .login div.screens {
    margin-top: 20rem; }

  .app, .app body {
    width: 100%;
    height: 100%;
    overflow: hidden; }

  article.card {
    margin-top: 5px;
    margin-right: 5px; }

  #content .vista.vistaTienda .detalle-test section.row .visual,
  #content .vista.vistaMisTest .detalle-test section.row .visual {
    padding-right: 0; }
    #content .vista.vistaTienda .detalle-test section.row .visual span.fa-stack,
    #content .vista.vistaMisTest .detalle-test section.row .visual span.fa-stack {
      float: none !important; }

  #content .vista.vistaTienda .detalle-test section.row .visual.mini span.fa-stack,
  #content .vista.vistaMisTest .detalle-test section.row .visual.mini span.fa-stack {
    float: none !important; }

  #content.cargando {
    background-position: center center; }

  #content .vista .vista-body.cargando {
    background-position: 50% center; } }
@media (max-width: 485px) {
  .dropdown-menu {
    min-width: 300px;
    max-height: 300px; }

  #content .vista.vistaTest .vista-header .btn .fa-pause {
    right: 10px; }

  #content .vista.vistaTest .vista-header ul#mapatest {
    max-width: 100%; } }
@media (max-width: 320px) {
  #content .vista.vistaSocial .bl.grupo > .avatar {
    margin-left: 10px !important; } }
@media (max-height: 460px) {
  aside .vbox > footer {
    position: relative !important; } }
@media (min-height: 700px) {
  .modal#frmPausa .modal-dialog {
    margin-top: 15%;
    max-width: 400px; } }
#swipeview-slider > div {
  min-height: 400px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -mox-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  overflow: hidden; }
  #swipeview-slider > div.portada {
    font-size: 28px;
    font-style: italic;
    background-color: #25313e;
    color: white; }
    #swipeview-slider > div.portada span {
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 5rem; }
    #swipeview-slider > div.portada div.visual {
      height: 100px;
      width: 100%;
      margin-top: 40px;
      background-repeat: no-repeat;
      background-position: center center; }
    #swipeview-slider > div.portada.inicio div.visual {
      background-image: url("../images/m-swipe-left.png"); }
    #swipeview-slider > div.portada.fin div.visual {
      background-image: url("../images/m-swipe-right.png"); }

body.ios #main_container {
  height: 100%; }

.vista.vistaTest.vistaRepasoTest ul#mapatest {
  width: 100%;
  max-width: 100% !important; }
.vista.vistaTest.vistaRepasoTest .pregunta {
  background: #ececec;
  color: #717171; }
.vista.vistaTest.vistaRepasoTest footer.respuestas table tr td.bg-danger {
  color: white !important; }
.vista.vistaTest.vistaRepasoTest footer.respuestas table tr td.bg-success {
  color: white !important; }
.vista.vistaTest.vistaRepasoTest .recurso.pre .aviso {
  color: #717171; }
.vista.vistaTest .vista-header .btn-group {
  width: 100%; }
.vista.vistaTest .vista-header .btn {
  min-height: 50px;
  text-align: center;
  padding-left: 0;
  padding-right: 0; }
  .vista.vistaTest .vista-header .btn .fa-pause {
    float: right;
    margin-top: 2px;
    right: 15px;
    position: absolute; }
.vista.vistaTest .vista-header ul#mapatest {
  max-width: 400px;
  max-height: 360px;
  overflow-y: auto; }
  .vista.vistaTest .vista-header ul#mapatest span.arrow:after {
    border-bottom-color: #65bd77; }
  .vista.vistaTest .vista-header ul#mapatest table {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ebf4e4;
    text-align: center; }
    .vista.vistaTest .vista-header ul#mapatest table td {
      height: 40px;
      cursor: pointer; }
      .vista.vistaTest .vista-header ul#mapatest table td.contestada {
        color: rgba(137, 204, 151, 0.2); }
      .vista.vistaTest .vista-header ul#mapatest table td.active span {
        background-color: #ebf4e4;
        color: #65bd77;
        display: inline-block;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        line-height: 32px;
        margin-top: -2px; }
      .vista.vistaTest .vista-header ul#mapatest table td .fa-stack-2x {
        color: rgba(137, 204, 151, 0.2); }
      .vista.vistaTest .vista-header ul#mapatest table td .stack-text {
        margin-top: -.1rem;
        color: #65bd77; }
.vista.vistaTest .vista-body {
  border-top: 1px solid rgba(72, 92, 113, 0.95); }
.vista.vistaTest table {
  table-layout: fixed;
  width: 100%; }
  .vista.vistaTest table td.clave {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 26px;
    font-weight: 400; }
  .vista.vistaTest table td.valor {
    padding-left: 4px;
    color: inherit !important;
    font-weight: inherit;
    font-size: 16px;
    line-height: 21px; }
.vista.vistaTest .recurso.resp {
  width: 125px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 20px; }
.vista.vistaTest .recurso.pre {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; }
  .vista.vistaTest .recurso.pre .aviso {
    display: block;
    text-align: center;
    color: whitesmoke;
    opacity: .5;
    font-size: 12px; }
  .vista.vistaTest .recurso.pre img {
    max-width: 100%;
    box-shadow: 1px 2px 13px darkslategrey; }
.vista.vistaTest .pregunta {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: auto;
  font-size: 20px;
  line-height: 21px;
  background: #41586e;
  color: white; }
  .vista.vistaTest .pregunta table {
    margin-top: 15px; }
    .vista.vistaTest .pregunta table td.clave {
      vertical-align: top; }
    .vista.vistaTest .pregunta table td.valor {
      vertical-align: top;
      padding-right: 5px;
      font-weight: 400; }
.vista.vistaTest footer.respuestas {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50%;
  overflow: auto;
  border-top: 1px solid 1px solid #25313e; }
  .vista.vistaTest footer.respuestas table {
    background-color: #ececec;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .vista.vistaTest footer.respuestas table tr {
      cursor: pointer; }
      .vista.vistaTest footer.respuestas table tr.active {
        background-color: rgba(0, 0, 0, 0.05); }
      .vista.vistaTest footer.respuestas table tr.atenuada {
        opacity: .6; }
      .vista.vistaTest footer.respuestas table tr td {
        border-top: 1px solid rgba(0, 0, 0, 0.05); }

.vbox.vista .vistaTest .vista-body footer.respuestas {
  background-color: #ececec; }

.vista.vistaTourAplicacion {
  background-color: white; }
  .vbox .vista.vistaTourAplicacion {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important; }
    .vbox .vista.vistaTourAplicacion #swypeWrapper {
      width: 100%;
      left: 0;
      top: 0%;
      bottom: 0; }
  .vista.vistaTourAplicacion #swypeWrapper {
    position: absolute !important;
    width: 100%;
    left: 0;
    top: 0%;
    bottom: 0;
    height: auto !important;
    background-color: #86e2d5; }
    .vista.vistaTourAplicacion #swypeWrapper .swipeview-active {
      visibility: visible; }
    .vista.vistaTourAplicacion #swypeWrapper .slide-img {
      max-width: 80%;
      margin-left: 10%; }
    .vista.vistaTourAplicacion #swypeWrapper .slide-t {
      padding: 40px 10px 20px 10px;
      width: 100%;
      text-align: center;
      font-size: 120%; }
  .vista.vistaTourAplicacion footer {
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    height: 55px;
    width: 100%;
    position: absolute; }
    .vista.vistaTourAplicacion footer .btn-group {
      width: 100%;
      font-size: 20px; }
      .vista.vistaTourAplicacion footer .btn-group button {
        background: transparent;
        color: white;
        border: 0;
        height: 100%;
        padding: 10px; }
    .vista.vistaTourAplicacion footer ul {
      text-align: center;
      padding-left: 0;
      padding-right: 0; }
      .vista.vistaTourAplicacion footer ul li {
        background-color: rgba(255, 255, 255, 0.3);
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px; }
        .vista.vistaTourAplicacion footer ul li.active {
          background-color: rgba(255, 255, 255, 0.8); }

#modalBackdrop {
  display: none; }

#modalBackdrop.in {
  display: block;
  z-index: 540; }

#frmVistaFlotante {
  z-index: 550;
  position: fixed;
  height: 500px !important;
  margin: 0 auto !important;
  left: 20% !important;
  width: 60% !important;
  max-width: 610px;
  top: 10%; }
  #frmVistaFlotante.vistaTest {
    top: 61px !important; }
    #frmVistaFlotante.vistaTest #swypeWrapper {
      max-height: 600px;
      height: 100% !important; }

/*# sourceMappingURL=app.css.map */
