/*Android issues*/
li, a, span, button, div, .btn {
  outline: none !important;
  -moz-tap-highlight-color: transparent !important;
  -moz-user-select: none !important;
  -moz-user-focus: ignore !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none !important;
  -webkit-user-focus: ignore !important;
  tap-highlight-color: transparent !important;
  user-select: none !important;
  user-focus: ignore !important; }

body.cordova {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

body.cordova article.card {
  -webkit-overflow-scrolling: touch; }

* > i {
  margin-right: 2px; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #717171;
  background-color: transparent; }

body > .vbox {
  overflow: hidden; }

body > .login {
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background: #2e3e4e; }
  body > .login div.screens {
    height: 200px;
    width: 100%;
    left: 0;
    background: url(../images/screens.png) no-repeat center center; }
  body > .login .btn-mobile, body > .login .btn-web {
    width: 220px;
    margin: 0 auto;
    display: inherit;
    padding: 10px 12px;
    font-size: 18px; }
  body > .login .throbber {
    background: url("../images/throbber-white.gif") no-repeat center center;
    display: block;
    height: 40px;
    background-size: 30px; }
  body > .login p.status {
    margin: 15px;
    text-align: center; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

header#navigation_bar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  background-color: #25313e;
  color: #9db1c5; }
  header#navigation_bar .barra .navbar-header {
    height: 50px; }
    header#navigation_bar .barra .navbar-header > ul > li > a {
      color: inherit; }
      header#navigation_bar .barra .navbar-header > ul > li > a :hover {
        color: #fff; }
  header#navigation_bar .navbar-header .btn {
    position: absolute;
    font-size: 1.3em;
    padding: 9px 16px;
    line-height: 30px;
    left: 0;
    color: inherit; }
  header#navigation_bar a.navbar-brand {
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    float: none;
    text-align: center;
    font-size: 20px;
    color: inherit;
    font-weight: bold; }
    header#navigation_bar a.navbar-brand img {
      max-height: 20px;
      margin-top: -4px;
      vertical-align: middle;
      display: inherit; }
    header#navigation_bar a.navbar-brand + .btn {
      right: 0;
      top: 0;
      left: auto; }
  header#navigation_bar .barra.vista a.navbar-brand {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  header#navigation_bar .nav > li > a:hover, header#navigation_bar .nav > li > a:focus,
  header#navigation_bar .nav > li.open > a {
    color: #9db1c5;
    background-color: #25313e; }

section#main_container {
  top: 50px; }
  section#main_container aside {
    background-color: #41586e;
    color: #9db1c5; }
    section#main_container aside .header, section#main_container aside .footer {
      min-height: 50px;
      padding: 0 15px; }
    section#main_container aside .header {
      background-color: #89cc97; }
    section#main_container aside nav.nav-primary {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
      section#main_container aside nav.nav-primary li {
        line-height: 1.5;
        position: relative;
        display: block; }
        section#main_container aside nav.nav-primary li a {
          padding: 11px 15px;
          position: relative;
          font-weight: bold;
          font-size: 14px;
          border-top: 1px solid transparent;
          border-color: rgba(255, 255, 255, 0.05);
          transition: color .3s ease-in-out 0s;
          color: #adbece; }
          section#main_container aside nav.nav-primary li a:hover {
            background-color: rgba(0, 0, 0, 0.05); }
            section#main_container aside nav.nav-primary li a:hover i b {
              width: 100%; }
          section#main_container aside nav.nav-primary li a i {
            margin: -12px -15px;
            line-height: 44px;
            width: 44px;
            float: left;
            margin-right: 10px;
            font-size: 14px;
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            text-align: center;
            position: relative;
            overflow: hidden;
            color: #fff; }
            section#main_container aside nav.nav-primary li a i:before {
              position: relative;
              z-index: 2; }
            section#main_container aside nav.nav-primary li a i b {
              position: absolute;
              left: 0;
              width: 1px;
              top: 0;
              bottom: 0;
              z-index: 0;
              transition: left .25s; }
        section#main_container aside nav.nav-primary li.active a {
          background-color: rgba(0, 0, 0, 0.05);
          color: white; }
          section#main_container aside nav.nav-primary li.active a i b {
            width: 100%; }
      section#main_container aside nav.nav-primary li.continuarTest b.bg {
        background-color: #fb6b5b; }

.fa-8x, .fa-stack-8x {
  font-size: 8em; }

.fa-7x, .fa-stack-7x {
  font-size: 7em; }

.fa-6x, .fa-stack-6x {
  font-size: 6em; }

.fa-5x, .fa-stack-5x {
  font-size: 5em; }

.fa-4x, .fa-stack-4x {
  font-size: 4em; }

.fa-3x, .fa-stack-3x {
  font-size: 3em; }

.fa-stack-1x, .fa-stack-2x,
.fa-stack-3x, .fa-stack-4x,
.fa-stack-5x, .fa-stack-6x,
.fa-stack-7x, .fa-stack-8x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.text-success {
  color: #8ec165; }

.text-danger {
  color: #fb6b5b; }

.text-info {
  color: #4cc0c1; }

.text-white {
  color: white; }

.progress-sm {
  height: 7px; }

.arrow {
  border-width: 8px;
  z-index: 10; }
  .arrow, .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
  .arrow.top {
    left: 50%;
    margin-left: -8px;
    border-top-width: 0;
    border-bottom-color: #eee;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    top: -8px; }
    .arrow.top:after {
      content: " ";
      top: 1px;
      margin-left: -7px;
      border-top-width: 0;
      border-bottom-color: #fff; }
  .arrow:after {
    border-width: 7px;
    content: ""; }

.dropdown-menu {
  min-width: 330px; }

.dropdown-menu > li > a {
  white-space: normal;
  padding-top: 12px;
  padding-bottom: 12px; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  cursor: pointer;
  background-image: none;
  filter: none;
  background-color: #f1f1f1 !important;
  color: #717171; }

.avatar, footer .avatar {
  color: #9db1c5 !important; }
  .avatar .img, footer .avatar .img {
    border: 1px solid rgba(255, 255, 255, 0.35);
    display: block;
    border-radius: 500px;
    white-space: nowrap; }
  .avatar .pic, footer .avatar .pic {
    width: 30px;
    margin-top: 0px;
    margin-right: 5px; }
  .nav .avatar .pic, .nav footer .avatar .pic {
    margin-top: -5px; }
  .avatar img, footer .avatar img {
    border-radius: 500px; }

.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

.m-n {
  margin: 0 !important; }

.m-r-sm {
  margin-right: 10px; }

.b-r {
  border-right: 1px solid #cfcfcf; }

.b-l {
  border-left: 1px solid #cfcfcf; }

.bg-primary {
  background-color: #65bd77;
  color: #e2f3e5; }

.bg-danger {
  background-color: #fb6b5b;
  color: #ffffff; }

.bg-warning {
  background-color: #ffc333;
  color: #fff8e6; }

.bg-success {
  background-color: #8ec165;
  color: #ebf4e4; }

.bg-info {
  background-color: #4cc0c1;
  color: #d1efef; }

.btn-warning {
  border-color: #f0ad4e; }

.btn-primary, .btn-primary:hover, .btn-primary.active,
.btn-primary:focus, .btn-primary:active,
.open .dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #65bd77;
  border-color: #65bd77; }

.btn-dark {
  color: #fff !important;
  background-color: #2e3e4e !important;
  border-color: #2e3e4e; }

.btn-success {
  color: #fff !important;
  background-color: #8ec165;
  border-color: #8ec165; }

.btn-success-t {
  color: #8ec165;
  border-color: #8ec165;
  background-color: transparent; }

.btn.btn-dark.transparent {
  background-color: transparent !important;
  color: #2e3e4e !important; }

.btn:active, .btn.active {
  background: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 0;
  border-color: rgba(0, 0, 0, 0.1) !important; }

.btn-rounded {
  border-radius: 50px; }

.btn-icon.btn-sm {
  padding-bottom: 5px;
  padding-top: 6px;
  padding-left: 4px;
  padding-right: 2px;
  width: 30px;
  text-align: center; }

.btn-info-t {
  color: #46b8da;
  border-color: #46b8da;
  background-color: transparent; }

.btn-default {
  color: #717171 !important; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-focus: none;
  -moz-user-select: none;
  -moz-user-focus: none;
  user-select: none;
  user-focus: none; }

#content {
  width: 100%;
  min-height: 80%; }
  #content.vista {
    background-color: rgba(50, 50, 50, 0.1); }
    #content.vista .bl {
      display: block; }
    #content.vista .vista-header {
      height: 50px;
      background-color: rgba(50, 50, 50, 0.1); }
      #content.vista .vista-header > .btn-group {
        width: 100%; }
      #content.vista .vista-header .btn {
        border-radius: 0;
        padding-top: 15px;
        padding-bottom: 13px; }
    #content.vista .vista-body {
      min-height: 50px; }
      #content.vista .vista-body.flowable {
        overflow-y: auto; }
      #content.vista .vista-body.cargando {
        background: url("../images/throbber.gif") no-repeat center center;
        background-size: 50px; }
      #content.vista .vista-body section.bloque {
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 10px; }
      #content.vista .vista-body article.card, #content.vista .vista-body article.pack {
        display: inline-block;
        min-height: 80px;
        width: 49%;
        margin-top: 5px;
        border-radius: 3px;
        border: 1px solid #E0DADA;
        box-shadow: 0 1px 2px #aaa;
        overflow: hidden;
        background: white;
        cursor: pointer; }
        #content.vista .vista-body article.card div.body, #content.vista .vista-body article.pack div.body {
          height: 60px; }
        #content.vista .vista-body article.card footer, #content.vista .vista-body article.pack footer {
          padding-left: 2px;
          padding-right: 2px;
          height: 61px;
          border-top: 1px solid #f0f0f0;
          background-color: rgba(50, 50, 50, 0.1); }
      #content.vista .vista-body article.pack {
        background-color: rgba(46, 62, 78, 0.8);
        color: #9db1c5 !important;
        border-radius: 500px; }
        #content.vista .vista-body article.pack i {
          margin-top: 35px;
          font-size: 90px !important;
          color: inherit !important; }
        #content.vista .vista-body article.pack footer {
          border-top: rgba(46, 62, 78, 0.2);
          background-color: rgba(46, 62, 78, 0.3); }
          #content.vista .vista-body article.pack footer .frow {
            color: inherit; }
            #content.vista .vista-body article.pack footer .frow span.nombre {
              text-align: center;
              max-width: 70%;
              margin-left: 15%;
              height: 20px !important;
              white-space: nowrap; }
            #content.vista .vista-body article.pack footer .frow small {
              text-align: center;
              display: block; }
    #content.vista .admonition {
      margin-top: 20%;
      margin-left: 5%;
      margin-right: 5%; }
      #content.vista .admonition > i {
        display: block;
        text-align: center; }
      #content.vista .admonition > div {
        display: block;
        text-align: center; }
        #content.vista .admonition > div .tit {
          display: block;
          font-size: 120%;
          text-align: center; }
        #content.vista .admonition > div .des, #content.vista .admonition > div .sub {
          margin-top: 10px;
          display: block;
          text-align: left;
          font-size: 17px; }
  #content.vista.vistaTest .vista-header .btn .fa-pause {
    float: right;
    margin-top: 2px;
    right: 15px;
    position: absolute; }
  #content.vista.vistaTest .vista-header ul#mapatest {
    max-width: 400px; }
    #content.vista.vistaTest .vista-header ul#mapatest span.arrow:after {
      border-bottom-color: #65bd77; }
    #content.vista.vistaTest .vista-header ul#mapatest table {
      margin-top: 10px;
      margin-bottom: 10px;
      color: #ebf4e4;
      text-align: center; }
      #content.vista.vistaTest .vista-header ul#mapatest table td {
        height: 40px;
        cursor: pointer; }
        #content.vista.vistaTest .vista-header ul#mapatest table td.contestada {
          background-color: #89cc97; }
        #content.vista.vistaTest .vista-header ul#mapatest table td.active span {
          background-color: #ebf4e4;
          color: #65bd77;
          display: inline-block;
          border-radius: 30px;
          width: 30px;
          height: 30px;
          line-height: 32px;
          margin-top: -2px; }
        #content.vista.vistaTest .vista-header ul#mapatest table td .stack-text {
          margin-top: -.1rem;
          color: #65bd77; }
  #content.vista.vistaTest table {
    table-layout: fixed;
    width: 100%; }
    #content.vista.vistaTest table td.clave {
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 26px;
      font-weight: 400; }
    #content.vista.vistaTest table td.valor {
      padding-left: 4px;
      color: inherit !important;
      font-weight: inherit;
      font-size: 16px;
      line-height: 21px; }
  #content.vista.vistaTest .pregunta {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: auto;
    font-size: 20px;
    line-height: 21px;
    background: #89cc97;
    color: white; }
    #content.vista.vistaTest .pregunta table {
      margin-top: 15px; }
      #content.vista.vistaTest .pregunta table td.clave {
        vertical-align: top; }
      #content.vista.vistaTest .pregunta table td.valor {
        vertical-align: top;
        padding-right: 5px;
        font-weight: 400; }
  #content.vista.vistaTest footer.respuestas {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50%;
    overflow: auto;
    border-top: 1px solid 1px solid #25313e;
    background-color: #ececec; }
    #content.vista.vistaTest footer.respuestas table {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
      #content.vista.vistaTest footer.respuestas table tr.active {
        background-color: rgba(0, 0, 0, 0.05); }
      #content.vista.vistaTest footer.respuestas table tr.atenuada {
        opacity: .6; }
      #content.vista.vistaTest footer.respuestas table td {
        border-top: 1px solid rgba(0, 0, 0, 0.05); }
  #content.vista.vistaTienda .vista-header {
    background-color: #f0ad4e;
    color: white; }
    #content.vista.vistaTienda .vista-header button {
      background: transparent; }
      #content.vista.vistaTienda .vista-header button i {
        float: left;
        font-size: 250%;
        line-height: 13px;
        margin-top: 4px;
        opacity: 0.3; }
  #content.vista.vistaTienda .vista-body {
    padding-bottom: 10px; }
    #content.vista.vistaTienda .vista-body .bloque {
      margin-left: 5px;
      margin-right: 5px; }
      #content.vista.vistaTienda .vista-body .bloque .titulo {
        cursor: pointer; }
      #content.vista.vistaTienda .vista-body .bloque .cargarMas {
        display: block;
        width: 100%;
        background-color: transparent;
        border: none; }
        #content.vista.vistaTienda .vista-body .bloque .cargarMas.aunMas {
          padding-top: 10px;
          padding-bottom: 10px; }
        #content.vista.vistaTienda .vista-body .bloque .cargarMas span {
          float: right;
          padding: 3px 9px;
          font-size: 16px;
          text-transform: uppercase;
          border-radius: 0; }
      #content.vista.vistaTienda .vista-body .bloque .card {
        min-height: 120px;
        color: #979797; }
        #content.vista.vistaTienda .vista-body .bloque .card .body {
          min-height: 100px;
          text-align: center; }
          #content.vista.vistaTienda .vista-body .bloque .card .body i {
            opacity: .1;
            font-size: 160px;
            color: darkslategray; }
        #content.vista.vistaTienda .vista-body .bloque .card .fecha {
          margin-top: -102px;
          background-color: rgba(50, 50, 50, 0.1);
          text-transform: uppercase;
          font-size: 10px; }
          #content.vista.vistaTienda .vista-body .bloque .card .fecha > * {
            text-align: center; }
        #content.vista.vistaTienda .vista-body .bloque .card footer .frow {
          width: 100%;
          display: block; }
          #content.vista.vistaTienda .vista-body .bloque .card footer .frow span.nombre {
            white-space: normal;
            height: 40px; }
          #content.vista.vistaTienda .vista-body .bloque .card footer .frow > * {
            padding-left: 0px;
            padding-right: 0px; }
        #content.vista.vistaTienda .vista-body .bloque .card footer span.love {
          color: #aaa; }
        #content.vista.vistaTienda .vista-body .bloque .card footer span.precio, #content.vista.vistaTienda .vista-body .bloque .card footer span.loTengo {
          color: #f0ad4e;
          text-align: right; }
        #content.vista.vistaTienda .vista-body .bloque .card footer span.notaTest {
          text-transform: uppercase;
          color: #717171;
          text-indent: inherit;
          font-weight: 500;
          font-size: 12px;
          line-height: 19px; }
  #content.vista.vistaTienda .detalle-test {
    background-color: #f7f7f7;
    padding: 20px 10px;
    color: #979797; }
    #content.vista.vistaTienda .detalle-test section.row {
      margin-left: 0px;
      margin-right: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      background: #fefefe;
      border: 1px solid #e8e8e8;
      border-bottom-width: 0px;
      border-radius: 2px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
      #content.vista.vistaTienda .detalle-test section.row .visual {
        padding-left: 0px;
        margin-left: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center; }
      #content.vista.vistaTienda .detalle-test section.row:last-child {
        border-bottom-width: 1px; }
      #content.vista.vistaTienda .detalle-test section.row.botonera {
        padding-left: .3rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        border-top-style: dashed; }
      #content.vista.vistaTienda .detalle-test section.row .data {
        padding-right: 5px;
        padding-left: 0px; }
        #content.vista.vistaTienda .detalle-test section.row .data span.bl, #content.vista.vistaTienda .detalle-test section.row .data .btn-group {
          display: block; }
        #content.vista.vistaTienda .detalle-test section.row .data h1, #content.vista.vistaTienda .detalle-test section.row .data h2 {
          margin-top: 10px;
          font-family: 'Open sans', 'Helvetica Neue';
          color: #717171;
          margin-bottom: 0px !important; }
        #content.vista.vistaTienda .detalle-test section.row .data h1 {
          font-weight: 500;
          font-size: 18px; }
        #content.vista.vistaTienda .detalle-test section.row .data h2 {
          font-weight: 400;
          font-size: 16px; }
        #content.vista.vistaTienda .detalle-test section.row .data small, #content.vista.vistaTienda .detalle-test section.row .data .small {
          display: block;
          font-size: 12px;
          text-transform: uppercase; }
        #content.vista.vistaTienda .detalle-test section.row .data bold, #content.vista.vistaTienda .detalle-test section.row .data .bold {
          font-weight: bold; }
        #content.vista.vistaTienda .detalle-test section.row .data .resultados {
          margin-top: 10px; }
          #content.vista.vistaTienda .detalle-test section.row .data .resultados > * {
            border-left: 1px solid rgba(0, 0, 0, 0.05);
            padding-left: 0;
            padding-right: 0;
            text-align: center; }
            #content.vista.vistaTienda .detalle-test section.row .data .resultados > *:first-child {
              border-left: none !important; }
        #content.vista.vistaTienda .detalle-test section.row .data .progress {
          margin-top: 5px;
          margin-bottom: 10px; }
          #content.vista.vistaTienda .detalle-test section.row .data .progress .progress-bar {
            background-color: #717171; }
        #content.vista.vistaTienda .detalle-test section.row .data .bl {
          margin-bottom: 10px; }
        #content.vista.vistaTienda .detalle-test section.row .data .grupo {
          margin-top: 20px; }
      #content.vista.vistaTienda .detalle-test section.row .btn.btnDescargar.cargando {
        background-image: url(../images/throbber-white.gif);
        background-position: 5px center;
        background-repeat: no-repeat;
        background-size: 16px;
        padding-left: 25px; }
      #content.vista.vistaTienda .detalle-test section.row.resultadoUltimoExamen {
        margin-top: 10px; }
    #content.vista.vistaTienda .detalle-test hr {
      border-color: silver;
      width: 90%;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      margin-bottom: 0; }
    #content.vista.vistaTienda .detalle-test .loTengo {
      margin-top: 1rem; }
      #content.vista.vistaTienda .detalle-test .loTengo i {
        color: #f0ad4e; }
    #content.vista.vistaTienda .detalle-test .btn-sm {
      text-transform: uppercase; }
    #content.vista.vistaTienda .detalle-test .cats {
      font-size: 12px; }
    #content.vista.vistaTienda .detalle-test .btnLove {
      margin-right: 5px;
      margin-left: 5px; }
    #content.vista.vistaTienda .detalle-test .btnAbrir, #content.vista.vistaTienda .detalle-test .btnLove, #content.vista.vistaTienda .detalle-test .loTengo, #content.vista.vistaTienda .detalle-test .btnDesinstalar {
      display: none !important; }
    #content.vista.vistaTienda .detalle-test .btnDescargar {
      display: inline-block; }
    #content.vista.vistaTienda .detalle-test.tengo-este-test .btnAbrir, #content.vista.vistaTienda .detalle-test.tengo-este-test .btnLove, #content.vista.vistaTienda .detalle-test.tengo-este-test .btnDesinstalar {
      display: inline-block !important; }
    #content.vista.vistaTienda .detalle-test.tengo-este-test .loTengo {
      display: block !important; }
    #content.vista.vistaTienda .detalle-test.tengo-este-test .btnDescargar {
      display: none; }
  #content.vista.vistaMigraTest .vista-body {
    padding: 1rem;
    padding-top: 3rem;
    text-align: center; }
    #content.vista.vistaMigraTest .vista-body .btn {
      margin-top: 1rem; }
  #content.vista.vistaMigraTest ul#listatests {
    max-height: 600px;
    overflow: auto; }

.modal-backdrop {
  background-color: #2e3e4e; }

.modal .modal-footer button {
  font-weight: 500;
  border-radius: 2px;
  text-transform: uppercase; }

.modal#frmPausa .details {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #d6d6d6;
  font-weight: 300;
  font-size: 105%; }
  .modal#frmPausa .details i {
    margin-right: 5px; }
  .modal#frmPausa .details .titulo {
    font-size: 110%;
    font-weight: normal;
    margin-bottom: 10px; }
  .modal#frmPausa .details p {
    margin-bottom: 0; }
    .modal#frmPausa .details p.resp.notafinal {
      margin-bottom: 15px;
      font-weight: bold;
      /* text-align: center; */
      margin-top: -7px; }
.modal#frmPausa .main > .titulo {
  margin-top: 0;
  margin-bottom: 20px; }
  .modal#frmPausa .main > .titulo .fa-stack {
    margin-left: -30px;
    padding: 1px;
    background: white;
    border-radius: 50%;
    margin-top: -30px; }
.modal#frmPausa .info {
  padding-bottom: 10px; }
  .modal#frmPausa .info > .titulo {
    margin-top: 5px;
    margin-bottom: 30px; }
  .modal#frmPausa .info .visual {
    max-width: 95px;
    float: right;
    position: absolute;
    right: 0;
    top: -25px;
    padding: 5px;
    background: white;
    border-radius: 8px; }
.modal#frmPausa .modal-footer {
  border-top: 1px dashed #e5e5e5; }

@media (max-width: 767px) {
  body > .login div.screens {
    margin-top: 30%; }

  .cargarMas {
    margin-right: 2%; }

  section.bloque {
    margin-left: 2% !important;
    margin-right: 0 !important; }

  article.card {
    width: 48%;
    margin-top: 5px;
    margin-right: 5px; }

  aside .vbox > footer {
    position: absolute;
    bottom: 10px;
    left: 2.5%;
    width: 95%;
    min-height: 45px;
    height: 45px;
    color: #adbece;
    padding: 5px 5px 0 5px !important; }
    aside .vbox > footer .ajustes, aside .vbox > footer .logout {
      font-size: 22px;
      line-height: 26px;
      color: #adbece !important; }
    aside .vbox > footer .avatar .pic {
      width: 30px; }
    aside .vbox > footer .avatar .nombre {
      font-size: 13px;
      line-height: 28px;
      margin-left: 4px; }

  body {
    overflow: hidden; }

  .modal#frmPausa {
    padding-left: 0;
    padding-top: 0; }
    .modal#frmPausa .info {
      margin-top: 15px;
      margin-bottom: 5px; }
      .modal#frmPausa .info .visual {
        right: 11px;
        top: -20px;
        max-height: 70px;
        background: transparent; }
    .modal#frmPausa .main > .titulo {
      margin-bottom: 5px; }
    .modal#frmPausa .info > .titulo {
      margin-bottom: 5px; }
    .modal#frmPausa .modal-dialog {
      margin-left: 0;
      margin-right: 0;
      margin-top: 40px; }
      .modal#frmPausa .modal-dialog .modal-content {
        border-radius: 0; }
        .modal#frmPausa .modal-dialog .modal-content .modal-body {
          padding-bottom: 0; }
    .modal#frmPausa .visual {
      display: none; }

  ul.btn2_1 span.arrow {
    margin-left: -25%; }

  ul.btn2_2 span.arrow {
    margin-left: +25%; }

  ul.btn3_1 span.arrow {
    margin-left: -37%; }

  ul.btn3_2 span.arrow {
    margin-left: 0%; }

  .navbar + section .nav-off-screen {
    top: 50px; }

  .navbar + section .nav-off-screen + * {
    top: 50px; }

  .nav-off-screen + * {
    background-color: #f7f7f7;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(75%, 0px, 0px);
    transform: translate3d(75%, 0px, 0px);
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2; }

  .nav-off-screen + * .nav-off-screen-block {
    display: block !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1950;
    background: #2e3e4e;
    opacity: .4; }

  .navbar-header {
    text-align: center; }

  .nav-off-screen {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
    .nav-off-screen .nav-primary {
      display: block !important; } }
@media (min-width: 768px) {
  body > .login div.screens {
    margin-top: 20rem; }

  .app, .app body {
    width: 100%;
    height: 100%;
    overflow: hidden; }

  article.card {
    margin-top: 5px;
    margin-right: 5px; }

  .hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    height: 100%; }

  .vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%; }
    .vbox .scrollable {
      top: 50px; }

  body .vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%; }
    body .vbox > section {
      position: absolute;
      bottom: 0;
      width: 100%;
      top: 0; }
    body .vbox > footer {
      position: absolute; }

  .aside-md {
    width: 220px; }

  .hbox > aside, .hbox > section,
  .vbox > aside, .vbox > section {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 0;
    float: none; }

  .navbar-nav.navbar-right {
    float: right !important; }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px; } }
#swipeview-slider > div {
  min-height: 400px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -mox-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  overflow: hidden; }
  #swipeview-slider > div.portada {
    font-size: 28px;
    font-style: italic;
    background-color: #2e3e4e;
    color: white; }
    #swipeview-slider > div.portada span {
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 5rem; }
    #swipeview-slider > div.portada div.visual {
      height: 100px;
      width: 100%;
      margin-top: 40px;
      background-repeat: no-repeat;
      background-position: center center; }
    #swipeview-slider > div.portada.inicio div.visual {
      background-image: url("../images/m-swipe-left.png"); }
    #swipeview-slider > div.portada.fin div.visual {
      background-image: url("../images/m-swipe-right.png"); }

/*# sourceMappingURL=app.css.map */
