body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #717171;
  background-color: transparent;
  -webkit-font-smoothing: antialiased; }

header#navigation_bar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  background-color: #25313e;
  color: #9db1c5; }
  header#navigation_bar > ul > li > a {
    color: inherit; }
    header#navigation_bar > ul > li > a :hover {
      color: #fff; }
  header#navigation_bar .navbar-header > .btn {
    position: absolute;
    font-size: 1.3em;
    padding: 9px 16px;
    line-height: 30px;
    left: 0;
    color: inherit; }
  header#navigation_bar a.navbar-brand {
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    float: none;
    text-align: center;
    font-size: 20px;
    color: inherit;
    font-weight: bold; }
    header#navigation_bar a.navbar-brand img {
      max-height: 20px;
      margin-top: -4px;
      vertical-align: middle; }
    header#navigation_bar a.navbar-brand + .btn {
      right: 0;
      top: 0;
      left: auto; }
  header#navigation_bar .nav > li > a:hover, header#navigation_bar .nav > li > a:focus,
  header#navigation_bar .nav > li.open > a {
    background-color: #25313e; }

section#main_container {
  top: 50px; }
  section#main_container aside {
    background-color: #41586e;
    color: #9db1c5; }
    section#main_container aside .header, section#main_container aside .footer {
      min-height: 50px;
      padding: 0 15px; }
    section#main_container aside .header {
      background-color: #89cc97; }
    section#main_container aside nav.nav-primary {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
      section#main_container aside nav.nav-primary li {
        line-height: 1.5;
        position: relative;
        display: block; }
        section#main_container aside nav.nav-primary li a {
          padding: 11px 15px;
          position: relative;
          font-weight: bold;
          font-size: 14px;
          border-top: 1px solid transparent;
          border-color: rgba(255, 255, 255, 0.05);
          transition: color .3s ease-in-out 0s;
          color: #adbece; }
          section#main_container aside nav.nav-primary li a:hover {
            background-color: rgba(0, 0, 0, 0.05); }
            section#main_container aside nav.nav-primary li a:hover i b {
              width: 100%; }
          section#main_container aside nav.nav-primary li a i {
            margin: -12px -15px;
            line-height: 44px;
            width: 44px;
            float: left;
            margin-right: 10px;
            font-size: 14px;
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            text-align: center;
            position: relative;
            overflow: hidden;
            color: #fff; }
            section#main_container aside nav.nav-primary li a i:before {
              position: relative;
              z-index: 2; }
            section#main_container aside nav.nav-primary li a i b {
              position: absolute;
              left: 0;
              width: 1px;
              top: 0;
              bottom: 0;
              z-index: 0;
              transition: left .25s; }
        section#main_container aside nav.nav-primary li.active a {
          background-color: rgba(0, 0, 0, 0.05);
          color: white; }
          section#main_container aside nav.nav-primary li.active a i b {
            width: 100%; }
      section#main_container aside nav.nav-primary li.continuarTest b.bg {
        background-color: #fb6b5b; }

.arrow {
  border-width: 8px;
  z-index: 10; }
  .arrow, .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
  .arrow.top {
    left: 50%;
    margin-left: -8px;
    border-top-width: 0;
    border-bottom-color: #eee;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    top: -8px; }
    .arrow.top:after {
      content: " ";
      top: 1px;
      margin-left: -7px;
      border-top-width: 0;
      border-bottom-color: #fff; }
  .arrow:after {
    border-width: 7px;
    content: ""; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: none;
  filter: none;
  background-color: #f1f1f1 !important;
  color: #717171; }

.avatar {
  border: 1px solid rgba(255, 255, 255, 0.35);
  display: block;
  border-radius: 500px;
  white-space: nowrap; }

.nav .avatar {
  width: 30px;
  margin-top: -5px;
  margin-right: 5px; }

.avatar img {
  border-radius: 500px; }

.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

.m-n {
  margin: 0 !important; }

.m-r-sm {
  margin-right: 10px; }

.bg-primary {
  background-color: #65bd77;
  color: #e2f3e5; }

.bg-danger {
  background-color: #fb6b5b;
  color: #ffffff; }

.bg-warning {
  background-color: #ffc333;
  color: #fff8e6; }

.bg-success {
  background-color: #8ec165;
  color: #ebf4e4; }

.bg-info {
  background-color: #4cc0c1;
  color: #d1efef; }

.btn-primary, .btn-primary:hover, .btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #65bd77;
  border-color: #65bd77; }

.btn-dark {
  color: #fff !important;
  background-color: #2e3e4e;
  border-color: #2e3e4e; }

#content {
  position: absolute;
  width: 100%;
  min-height: 80%; }
  #content.vistaTest {
    background-color: rgba(50, 50, 50, 0.1); }
    #content.vistaTest header.marcadores {
      width: 100%;
      min-height: 50px; }
      #content.vistaTest header.marcadores .btn-group {
        width: 100%; }
      #content.vistaTest header.marcadores .btn {
        border-radius: 0;
        padding-top: 15px;
        padding-bottom: 13px; }
        #content.vistaTest header.marcadores .btn .fa-pause {
          float: right;
          margin-top: 2px;
          right: 21px;
          position: absolute; }
      #content.vistaTest header.marcadores ul#mapatest span.arrow {
        margin-left: -25%; }
        #content.vistaTest header.marcadores ul#mapatest span.arrow:after {
          border-bottom-color: #65bd77; }
      #content.vistaTest header.marcadores ul#mapatest table {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #ebf4e4;
        text-align: center; }
        #content.vistaTest header.marcadores ul#mapatest table td {
          padding-top: 10px; }
          #content.vistaTest header.marcadores ul#mapatest table td.contestada {
            opacity: .4; }
          #content.vistaTest header.marcadores ul#mapatest table td .stack-text {
            margin-top: -.1rem;
            color: #65bd77; }
    #content.vistaTest table {
      table-layout: fixed;
      width: 100%; }
      #content.vistaTest table td.clave {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 26px;
        font-weight: 400; }
      #content.vistaTest table td.valor {
        padding-left: 4px;
        color: #717171 !important;
        font-weight: inherit;
        font-size: 20px; }
    #content.vistaTest .pregunta {
      position: absolute;
      width: 100%;
      height: 40%;
      overflow: auto;
      font-size: 20px;
      line-height: 21px;
      color: #717171; }
      #content.vistaTest .pregunta table {
        margin-top: 15px; }
        #content.vistaTest .pregunta table td.clave {
          vertical-align: top; }
        #content.vistaTest .pregunta table td.valor {
          padding-right: 5px;
          font-weight: 400; }
    #content.vistaTest footer.respuestas {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 50%;
      overflow: auto;
      background-color: #ececec; }
      #content.vistaTest footer.respuestas table {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
        #content.vistaTest footer.respuestas table tr.active {
          background-color: rgba(0, 0, 0, 0.05); }
        #content.vistaTest footer.respuestas table tr.atenuada {
          opacity: .6; }
        #content.vistaTest footer.respuestas table td {
          border-top: 1px solid rgba(0, 0, 0, 0.05); }

@media (max-width: 767px) {
  .navbar + section .nav-off-screen {
    top: 50px; }

  .navbar-header {
    text-align: center; }

  .nav-off-screen {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
    .nav-off-screen .nav-primary {
      display: block !important; } }
@media (min-width: 768px) {
  .app, .app body {
    width: 100%;
    height: 100%;
    overflow: hidden; }

  .hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    height: 100%; }

  .vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%; }
    .vbox .scrollable {
      top: 50px; }

  body .vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%; }
    body .vbox > section {
      position: absolute;
      bottom: 0;
      width: 100%;
      top: 0; }
    body .vbox > footer {
      position: absolute; }

  .aside-md {
    width: 220px; }

  .hbox > aside, .hbox > section {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 0;
    float: none; }

  .navbar-nav.navbar-right {
    float: right !important; }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px; } }

/*# sourceMappingURL=app.css.map */
